<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include s_header %>
		<div class="container">
			<span class="category"><a href="#">會員中心</a> &gt; <a href="#">加入會員</a></span>
		</div>
		<div class="container">
			<div class="cartcontentnav">
				<h3>加入會員</h3>
			</div>
			<div class="span12">
				<div class="row-fluid">
					<div class="span12 f_lg_tltle">
						已經有帳號了嗎？請直接<a href="#">會員登入</a>
					</div>
			  		<div class="span12 talk">
			  			<span class="title5">帳號資料</span>
			  			<span class="red_title5"> *為必填項目</span>
                    </div>
			  		<div class="span12">
                        <dl class="form_1 dl-horizontal buyer line">
							<dt><span class="red_title5">*</span> 帳號</dt>
							<dd>
								<input type="text">
								<span class="label label-important err_fr">
									E-mail 為登入帳號，未來無法更改
								</span>
							</dd>
							<dt><span class="red_title5">*</span> 密碼</dt>
							<dd>
								<input type="text">
								<img src="/images/exclamationmark.png" />
								<span class="label label-important err_fr">
									此帳號已註冊過會員，<a href="#" class="frgt-btn">忘記密碼</a> 嗎 ?
								</span>
							</dd>
							<dt><span class="red_title5">*</span> 再次輸入密碼</dt>
							<dd>
								<input type="text">
								<img src="/images/check.png"/>
								<div class="label label-important err_fr">	
									密碼只可包含英數、底線，長度介於3~16個字元
								</div>
							</dd>
							<div class="clear"></div>
						</dl>
                    </div>
                   	<div class="span12">
			  			<span class="title5">聯絡資訊</span>
			  			<span class="red_title5"> *為必填項目</span>
                    </div>
                    <div class="span12">
                        <dl class="form_1 dl-horizontal buyer line">
							<dt><span class="red_title5">*</span> 姓名</dt>
							<dd>
								<input type="text">
							</dd>
							<dt><span class="red_title5">*</span> 性別</dt>
							<dd>
                                <input type="radio">男 &nbsp&nbsp<input type="radio">女
							</dd>
							<dt><span class="red_title5">*</span> 生日</dt>
							<dd>
								<select name="county" class="place">
                                	<option value="">2013</option>
									<option value="taipei">2010</option>
									<option value="shinbei">2011</option>
									<option value="taoyuan">2012</option>
									<option value="keelung">2013</option>
								</select>
								年
								<select name="county" class="place">
                                	<option value="">1</option>
									<option value="taipei">1</option>
									<option value="shinbei">2</option>
									<option value="taoyuan">3</option>
									<option value="keelung">4</option>
								</select>
								月
								<select name="county" class="place">
                                	<option value="">1</option>
									<option value="taipei">1</option>
									<option value="shinbei">2</option>
									<option value="taoyuan">3</option>
									<option value="keelung">4</option>
								</select>
								日
							</dd>
							<dt><span class="red_title5">*</span>手機號碼</dt>
							<dd>
								<input type="text">
								<span class="label label-important err_fr">
									輸入範例：0912345678
								</span>
								<br/>
								<img src="/images/exclamationmark.png" />
								<span class="label label-important err_fr">
									您輸入的格式錯誤，請重新檢查。
								</span>
								
							</dd>
							<dt>暱稱</dt>
							<dd>
								<input type="text">
								<span class="label label-important err_fr">
									此暱稱將來會用在討論區，您可以之後再進入會員中心修改。
								</span>
							</dd>
							<dt><span class="red_title5">*</span> 身分</dt>
							<dd>
                                <input type="radio">我不是訂戶 &nbsp&nbsp<input type="radio">我是商周訂戶
							</dd>
                            <dt>投資工具</dt>
                        	<dd>
                                <ul class="check_bk1">
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 儲蓄
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 資金
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 股票
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 期貨
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 選擇權
                                        </label>
                                    </li>
                                </ul>
                            </dd><dt></dt>
                            <dd>
                                <ul class="check_bk2">
                                	<li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 權證
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 保險
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 債券
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 房地產買賣
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 房屋租賃
                                        </label>
                                    </li>
                                </ul>
							</dd><dt></dt>
                            <dd>
                                <ul>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 黃金
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 外匯
                                        </label>
                                    </li>
                                    <li class="span2">
                                        <label class="checkbox"><input type="checkbox"> 收藏
                                        </label>
                                    </li>
                                 </ul>
							</dd>
						</dl>
			  		</div>
				</div>
			</div>
			<div class="span12">
				<ul>
					<li><input type="checkbox">我願意收到Smart自學網的活動訊息
					</li>
					<li><input type="checkbox">我已詳閱 <a class="hint_list" href="#">Smart自學網服務條款</a>以及個人資料收集與使用之說明，並同意遵守相關約定
					</li>
				</ul>
			</div>
			<div class="row-fluid btnBK text-center">
    			<div class="span12">
    				<button class="btn btn-large btn-warning SPBKbtn">加入會員</button>
            	</div>
      		</div>
		</div>
		<% include small_footer %>
	</body>
</html>