<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<div class="row-fluid">
				<div class="span2">
				</div>
				<div class="span8 title_2">
					<div>
					<h3>感謝您加入會員<a class="gohome_title" href="#">回首頁</a></h3>

					</div>
					感謝您加入會員，為了確保您的Email可以收到SMART自學網的訊息，需要請您進行Email的認證動作，以完成加入會員的程序。
				</div>
				<div class="span2">
				</div>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>