<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include s_header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>

		<div class="container product">
			<div class="row-fluid">
				<div class="span12 pro_ref_frame ">
					<ul class="nav nav-tabs pro-nav-tabs orange_tab">
						<li class="limit_time_h1">會員中心</li>
						<li class="tab1 pro_tab3"><a href="/10_3" data-toggle="tab">訂單查詢</a></li>
						<li class="tab2 pro_tab3"><a href="/10_6" data-toggle="tab">紅利查詢</a></li>
						<li class="tab1 pro_tab3"><a href="/10_7" data-toggle="tab">套票清單</a></li>
						<li class="tab2 active pro_tab3"><a href="/10_4_1" data-toggle="tab">訂戶服務</a></li>
						<li class="tab2 pro_tab3"><a href="/10_5" data-toggle="tab">帳號資料</a></li>
					</ul>
					<div class="tab-content productframe pro_tab_content">
						<div class="tab-pane" id="tab1">
						這裡放Tab1內容
						</div>
						<div class="tab-pane" id="tab2">
						這裡放Tab2內容
						</div>
						<div class="tab-pane" id="tab3">
						這裡放Tab3內容
						</div>
						<div class="tab-pane active" id="tab4">
							<div class="row-fluid">
								<div class="span3 hidden-phone usse-nav hidden-tablet-portrait">
									<ul>
										<li><a href="/10_4_1">查詢訂戶編號</a>
										</li>
										<li><a href="/10_4_2">查詢到期期數</a>
										</li>
										<li><a href="/10_4_3">更改收件地址</a>
										</li>
										<li ><a href="/10_4_4">雜誌補寄申請</a>
										</li>
										<li><a href="/10_4_5">讀者服務信箱</a>
										</li>
										<li class="active"><a href="/10_4_6">索取紙本發票</a>
										</li>
									</ul>
								</div>
								<select class="user_service_sel visible-phone visible-tablet-portrait">
									<option>查詢訂戶編號</option>
									<option>查詢到期期數</option>
									<option>更改收件地址</option>
									<option>雜誌補寄申請</option>
									<option>讀者服務信箱</option>
									<option>索取紙本發票</option>
								</select>
								<div class="span9">
									<div class="span12">
										<span class="title5">索取紙本發票</span>
										<!--<span class="red_title5">*為必填項目</span>-->
									</div>
									<div class="span12 readuser_fr">
										<dl class="form_1 dl-horizontal buyer getpaper_content">
											<dt><span class="red_title5">*</span>訂戶編號 :</dt>
											<dd>ST<input type="text">請輸入數字共8碼（<a href="#">訂戶編號查詢</a>）</dd>
											<dt><span class="red_title5">*</span>訂戶姓名 :
											</dt>
											<dd>
												<input type="text">
											</dd>
											<dt><span class="red_title5">*</span>收件地址 :
											</dt>
											<dd>
												<input type="radio">台灣地區&nbsp&nbsp&nbsp<input type="radio">海外地區<br/>
												<select class="sel-w2">
													<option>請選擇縣市</option>
													<option>查詢到期期數</option>
													<option>更改收件地址</option>
													<option>雜誌補寄申請</option>
													<option>讀者服務信箱</option>
													<option>索取紙本發票</option>
												</select>
												<select class="sel-w2">
													<option>請選擇地區</option>
													<option>查詢到期期數</option>
													<option>更改收件地址</option>
													<option>雜誌補寄申請</option>
													<option>讀者服務信箱</option>
													<option>索取紙本發票</option>
												</select>
												<input type="text" class="sel-w0" placeholder="郵遞區號">
												<input type="text" placeholder="地址">
											</dd>
											<dt><span class="red_title5">*</span>聯絡電話 :
											</dt>
											<dd><input type="text"></dd>
											<dt><span class="red_title5">*</span>Email :</dt>
											<dd><input type="text">
											</dd>
											<dt><span class="red_title5">*</span>留言給我們 :</dt>
											<dd><textarea rows="5"></textarea></dd>
											<div class="btn btn-large sent-btn">送出</div>
										</dl>	
									</div>
									<div class="span12">
										<span>注意事項：</span>
										<br/>
										<span>＊發票會在訂單成立、付款完成後七個工作天，以電子郵件或簡訊通知電子發票已開立。</span>
										<span>＊若您需要紙本發票，於收到發票已開立的通知後，即可使用本功能  (已捐贈或曾索取紙本發票者除外)。</span>
										<br/>
										<span>＊另若您於訂單訂購後，已選擇寄送紙本發票，則無法再次索取。</span>
										<br/>
										<span>＊索取紙本發票將於七個工作天內以平信寄出，如遇國定假日將順延寄送。</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab5">
						這裡放Tab5內容
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>