<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include s_header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>

		<div class="container product 7_0">
			<div class="span12 pro_ref_frame ">
				<ul class="nav nav-tabs pro-nav-tabs orange_tab">
					<li class="limit_time_h1">會員中心</li>
					<li class="tab1 active pro_tab3"><a href="#tab1" data-toggle="tab">訂單查詢</a></li>
					<li class="tab2 pro_tab3"><a href="#tab2" data-toggle="tab">紅利查詢</a></li>
					<li class="tab1 pro_tab3"><a href="#tab3" data-toggle="tab">套票清單</a></li>
					<li class="tab2 pro_tab3"><a href="#tab4" data-toggle="tab">訂戶服務</a></li>
					<li class="tab2 pro_tab3"><a href="#tab5" data-toggle="tab">帳號資料</a></li>
				</ul>
				<div class="tab-content productframe pro_tab_content">
					<div class="tab-pane active" id="tab1">
					這裡放Tab1內容
					</div>
					<div class="tab-pane" id="tab2">
					這裡放Tab2內容
					</div>
					<div class="tab-pane" id="tab3">
					這裡放Tab3內容
					</div>
					<div class="tab-pane" id="tab4">
						<div class="row-fluid">
							<div class="span3 hidden-phone usse-nav hidden-tablet-portrait">
								<ul>
									<li>查詢訂戶編號
									</li>
									<li>查詢到期期數
									</li>
									<li>更改收件地址
									</li>
									<li class="active">雜誌補寄申請
									</li>
									<li>讀者服務信箱
									</li>
									<li>索取紙本發票
									</li>
								</ul>
							</div>
							<select class="user_service_sel visible-phone visible-tablet-portrait">
								<option>查詢訂戶編號</option>
								<option>查詢到期期數</option>
								<option>更改收件地址</option>
								<option>雜誌補寄申請</option>
								<option>讀者服務信箱</option>
								<option>索取紙本發票</option>
							</select>
							<div class="span9">
								<div class="span12">
									<span class="title5">更改收件地址</span>
									<span class="red_title5">*為必填項目</span>
								</div>
								<div class="span12 readuser_fr">
									<dl class="form_1 dl-horizontal buyer resent_mag">
										<dt>
											<span class="red_title5">*</span>
											訂戶編號 :
										</dt>
										<dd>
											ST<input type="text">請輸入數字共8碼（<a href="#">訂戶編號查詢</a>）
										</dd>
										<dt>
											<span class="red_title5">*</span>訂戶姓名 :
										</dt>
										<dd>
											<input type="text">
										</dd>
										<dt><span class="red_title5">*</span>收件地址 :</dt>
										<dd>
											<input type="checkbox">台灣地區 &nbsp&nbsp&nbsp<input type="checkbox">海外地區<br/>
											<select class="sel-w2">
												<option>請選擇縣市</option>
												<option>查詢到期期數</option>
												<option>更改收件地址</option>
												<option>雜誌補寄申請</option>
												<option>讀者服務信箱</option>
												<option>索取紙本發票</option>
											</select>
											<select class="sel-w2">
												<option>請選擇地區</option>
												<option>查詢到期期數</option>
												<option>更改收件地址</option>
												<option>雜誌補寄申請</option>
												<option>讀者服務信箱</option>
												<option>索取紙本發票</option>
											</select>
											<input type="text" class="sel-w0" placeholder="郵遞區號">
											<input type="text" placeholder="地址">
										</dd>
										<dt>
											<span class="red_title5">*</span>聯絡電話 :
										</dt>
										<dd>
											<input type="text">
										</dd>
										<dt>
											<span class="red_title5">*</span>Email :
										</dt>
										<dd>
											<input type="text">
										</dd>
										<dt style="height:auto;">
											<span class="red_title5">*</span>補寄期數 :
										</dt>
										<dd>
											<ul class="row-fluid">
											<li class="span5">
												<input type="checkbox">171期
												<div class="media zonetitem1 span12">
													<a class="pull-left" href="#">
														<img class="media-object" src="./images/discussions/thumb_2.jpg">
													</a>
													<a class="contenttext" href="#">
														<div class="media-body contenttext">
															<h4 class="Btitle media-heading">小市民股債包租術</h4>
															<p>2012/12/01  出刊</p>
														</div>
													</a>
												</div>

											</li>
											<li class="span5">
												<input type="checkbox">171期
												<div class="media zonetitem1 span12">
													<a class="pull-left" href="#">
														<img class="media-object" src="./images/discussions/thumb_2.jpg">
													</a>
													<a class="contenttext" href="#">
														<div class="media-body contenttext">
															<h4 class="Btitle media-heading">小市民股債包租術</h4>
															<p>2012/12/01  出刊</p>
														</div>
													</a>
												</div>
											</li>
											<li class="span5">
												<input type="checkbox">171期
												<div class="media zonetitem1 span12">
													<a class="pull-left" href="#">
														<img class="media-object" src="./images/discussions/thumb_2.jpg">
													</a>
													<a class="contenttext" href="#">
														<div class="media-body contenttext">
															<h4 class="Btitle media-heading">小市民股債包租術</h4>
															<p>2012/12/01  出刊</p>
														</div>
													</a>
												</div>
											</li>
										</ul>
										</dd>
										<dt>
											<span class="red_title5">*</span>補寄原因：
										</dt>
										<dd>
											<select>
												<option>請選擇</option>
												<option>查詢到期期數</option>
												<option>更改收件地址</option>
												<option>雜誌補寄申請</option>
												<option>讀者服務信箱</option>
												<option>索取紙本發票</option>
											</select>
										</dd>
										<div class="btn btn-large sent-btn">送出</div>
									</dl>	
								</div>
								<div class="span12">
									<span>＊「線上訂戶服務」功能於訂閱完成後5~7個工作天方可使用，造成不便，敬請見諒！</span>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab5">
					這裡放Tab5內容
					</div>
				</div>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>