<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>

		<div class="container product 7_0">
			<div class="span12 pro_ref_frame ">
				<ul class="nav nav-tabs pro-nav-tabs orange_tab">
					<li class="limit_time_h1">會員中心</li>
					<li class="tab1 active pro_tab3"><a href="#tab1" data-toggle="tab">訂單查詢</a></li>
					<li class="tab2 pro_tab3"><a href="#tab2" data-toggle="tab">紅利查詢</a></li>
					<li class="tab1 pro_tab3"><a href="#tab3" data-toggle="tab">套票清單</a></li>
					<li class="tab2 pro_tab3"><a href="#tab4" data-toggle="tab">訂戶服務</a></li>
					<li class="tab2 pro_tab3"><a href="#tab5" data-toggle="tab">帳號資料</a></li>
				</ul>
				<div class="tab-content productframe pro_tab_content">
					<div class="tab-pane active" id="tab1">
					這裡放Tab1內容
					</div>
					<div class="tab-pane" id="tab2">
					這裡放Tab2內容
					</div>
					<div class="tab-pane" id="tab3">
					這裡放Tab3內容
					</div>
					<div class="tab-pane" id="tab4">
						<div class="row-fluid">
							<div class="span3 hidden-phone">
								<ul>
									<li>查詢訂戶編號
									</li>
									<li>查詢到期期數
									</li>
									<li>更改收件地址
									</li>
									<li>雜誌補寄申請
									</li>
									<li>讀者服務信箱
									</li>
									<li>索取紙本發票
									</li>
								</ul>
							</div>
							<select class="user_service_sel visible-phone">
								<option>查詢訂戶編號</option>
								<option>查詢到期期數</option>
								<option>更改收件地址</option>
								<option>雜誌補寄申請</option>
								<option>讀者服務信箱</option>
								<option>索取紙本發票</option>
							</select>
							<div class="span9">
								<div class="span12">
									<span class="title5">讀者服務信箱</span>
									<!--<span class="red_title5">*為必填項目</span>-->
								</div>
								<div class="span12 readuser_fr">
									<ul>
										<li>
											<span class="red_title5">*</span>
											問題類別 : 
											<select>
												<option>請選擇問題類別</option>
												<option></option>
												<option></option>
												<option></option>
												<option></option>
												<option></option>
											</select>
											<select>
												<option>請選擇問題子類別</option>
												<option></option>
												<option></option>
												<option></option>
												<option></option>
												<option></option>
											</select>
										</li>
										<li><span class="red_title5">*</span>您的姓名 :<input type="text">
										</li>
										<li><span class="red_title5">*</span>Email :							<input type="text">
										</li>
										<li><span class="red_title5">*</span>主旨 :
											<input type="text">
										</li>
										<li><span class="red_title5">*</span>留言給我們 :<textarea rows="5"></textarea>
										</li>
										<li>請詳述您的問題內容，以便我們盡快為您提供服務。(如您是訂戶，請留訂戶編號或收件人姓名+地址)
										</li>
										<li><div class="btn">送出</div></li>
									</ul>	
								</div>
								<div class="span12">
									<span>＊《Smart智富月刊》 訂閱問題，請洽讀者服務專線(02)2510-8888</span>
									<br/>
									<span>＊時間：週一至週五 9:00～12:00；13:30～18:00</span>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab5">
					這裡放Tab5內容
					</div>
				</div>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>