<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>

		<div class="container product 7_0">
			<div class="span12 pro_ref_frame ">
				<ul class="nav nav-tabs pro-nav-tabs orange_tab">
					<li class="limit_time_h1">會員中心</li>
					<li class="tab1 active pro_tab3"><a href="#tab1" data-toggle="tab">訂單查詢</a></li>
					<li class="tab2 pro_tab3"><a href="#tab2" data-toggle="tab">紅利查詢</a></li>
					<li class="tab1 pro_tab3"><a href="#tab3" data-toggle="tab">套票清單</a></li>
					<li class="tab2 pro_tab3"><a href="#tab4" data-toggle="tab">訂戶服務</a></li>
					<li class="tab2 pro_tab3"><a href="#tab5" data-toggle="tab">帳號資料</a></li>
				</ul>
				<div class="tab-content productframe pro_tab_content">
					<div class="tab-pane active" id="tab1">
					這裡放Tab1內容
					</div>
					<div class="tab-pane" id="tab2">
					這裡放Tab2內容
					</div>
					<div class="tab-pane" id="tab3">
					這裡放Tab3內容
					</div>
					<div class="tab-pane" id="tab4">
					這裡放Tab4內容
					</div>
					<div class="tab-pane" id="tab5">
						<div class="row-fluid user_center_frame">
					  		<div class="span12 talk">
					  			<span class="title5">聯絡資訊</span>
					  			<span class="red_title5"> *為必填項目</span>
		                    </div>
					  		<div class="span12">
		                        <dl class="form_1 dl-horizontal buyer line">
									<dt><span class="red_title5">*</span> 帳號</dt>
									<dd>
										<input type="text" value="王大明" class="buyerTXT">
										<input type="radio" name="gender" value="male" class="radio"> 先生
										<input type="radio" name="gender" value="female" class="radio"> 小姐
									</dd>
									<dt><span class="red_title5">*</span> 密碼</dt>
									<dd>
										<input type="text" value="0912-345678" class="buyerTXT">
										<span class="carts3desc">格式：0912-345678</span>
									</dd>
									<dt><span class="red_title5">*</span> 再次輸入密碼</dt>
									<dd>
										<input type="text" value="ccool2486@gmail.com" class="buyerTXT">
									</dd>
									<div class="clear"></div>
								</dl>
		                    </div>
		                   	<div class="span12 cancelStoreFr">
		                   		<a href="#">取消</a>&nbsp&nbsp&nbsp<div class="btn btn-small">儲存</div>
		                   	</div>
		                   	<div class="span12">
					  			<span class="title5">個人檔案</span>
					  			<span class="red_title5"> *為必填項目</span>
		                    </div>
		                    <div class="span12">
		                        <dl class="form_1 dl-horizontal buyer line">
									<dt><span class="red_title5">*</span> 姓名</dt>
									<dd>
										<input type="text" value="0912-345678" class="buyerTXT">
									</dd>
									<dt><span class="red_title5">*</span> 性別</dt>
									<dd>
		                                <input type="checkbox">男 &nbsp&nbsp<input type="checkbox">女
									</dd>
									<dt><span class="red_title5">*</span> 生日</dt>
									<dd>
										<select name="county" class="place">
		                                	<option value="">2013</option>
											<option value="taipei">2010</option>
											<option value="shinbei">2011</option>
											<option value="taoyuan">2012</option>
											<option value="keelung">2013</option>
										</select>
										年
										<select name="county" class="place">
		                                	<option value="">1</option>
											<option value="taipei">1</option>
											<option value="shinbei">2</option>
											<option value="taoyuan">3</option>
											<option value="keelung">4</option>
										</select>
										月
										<select name="county" class="place">
		                                	<option value="">1</option>
											<option value="taipei">1</option>
											<option value="shinbei">2</option>
											<option value="taoyuan">3</option>
											<option value="keelung">4</option>
										</select>
										日
									</dd>
									<dt><span class="red_title5">*</span> 行動電話</dt>
									<dd>
										<input type="text" value="0912-345678" class="buyerTXT">
										<span class="carts3desc">格式：0912-345678</span>
										
									</dd>
									<dt>暱稱</dt>
									<dd>
										<input type="text" value="ccool2486@gmail.com" class="buyerTXT">
									</dd>
		                            <dt>投資工具</dt>
		                        	<dd>
		                                <ul class="check_bk1">
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 儲蓄
		                                        </label>
		                                    </li>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 資金
		                                        </label>
		                                    </li>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 股票
		                                        </label>
		                                    </li>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 期貨
		                                        </label>
		                                    </li>
		                                    <li class="span2">
	                                        	<label class="checkbox"><input type="checkbox"> 選擇權
	                                        	</label>
	                                    	</li>
		                                </ul>
		                            </dd><dt></dt>
		                            <dd>
		                                <ul class="check_bk2">
		                                	<li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 權證
		                                        </label>
		                                    </li>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 保險
		                                        </label>
		                                    </li>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 債券
		                                        </label>
		                                    </li>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 房地產買賣
		                                        </label>
		                                    </li>
		                                    <li class="span2">
	                                        	<label class="checkbox"><input type="checkbox"> 房屋租賃
	                                        	</label>
	                                    	</li>
		                                </ul>
									</dd><dt></dt>
		                            <dd>
		                                <ul>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 黃金
		                                        </label>
		                                    </li>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 外匯
		                                        </label>
		                                    </li>
		                                    <li class="span2">
		                                        <label class="checkbox"><input type="checkbox"> 收藏
		                                        </label>
		                                    </li>
		                                 </ul>
									</dd>
								</dl>
					  		</div>
					  		<div class="span12 cancelStoreFr">
					  			<a href="#">取消</a>&nbsp&nbsp&nbsp<div class="btn btn-small">儲存</div>
					  		</div>
					  		<div class="span12">
					  			<span class="title5">更改密碼</span>
		                    </div>
		                    <div class="span12">
		                        <dl class="form_1 dl-horizontal buyer line">
		                        	<dt>舊密碼：</dt>
									<dd>
										<input type="text">
									</dd>
								    <dt>新密碼：</dt>
									<dd>
										<input type="text">
									</dd>
									<dt>再次輸入新密碼：</dt>
									<dd>
										<input type="text">
									</dd>

		                        </dl>
		                    </div>
		                    <div class="span12 cancelStoreFr">
		                    	<a href="#">取消</a>&nbsp&nbsp&nbsp<div class="btn btn-small">儲存</div>
		                	</div>
		                </div>
					</div>
				</div>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>