<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include s_header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>

		<div class="container product 7_0">
			<div class="row-fluid">
				<div class="span12 pro_ref_frame ">
					<ul class="nav nav-tabs pro-nav-tabs orange_tab">
						<li class="limit_time_h1">會員中心</li>
						<li class="tab1 pro_tab3"><a href="/10_3" data-toggle="tab">訂單查詢</a></li>
						<li class="tab2 active pro_tab3"><a href="/10_6" data-toggle="tab">紅利查詢</a></li>
						<li class="tab1 pro_tab3"><a href="/10_7" data-toggle="tab">套票清單</a></li>
						<li class="tab2 pro_tab3"><a href="/10_4_1" data-toggle="tab">訂戶服務</a></li>
						<li class="tab2 pro_tab3"><a href="/10_5" data-toggle="tab">帳號資料</a></li>
					</ul>
					<div class="tab-content productframe pro_tab_content">
						<div class="tab-pane" id="tab1">
						這裡放Tab1內容
						</div>
						<div class="tab-pane active" id="tab2">
							<div class="row-fluid title_2 sr_bonus_title">
					  			<div class="span12 havebonus">
					  				您目前擁有剩餘<span>500</span>點紅利
					  			</div>
			  				</div>
			  				<div class="row-fluid user_center_frame">
				  				<ul class="span12">
				  					<li class="span12 recodeSelect">
					  					篩選：<a href="#">所有記錄</a>
					  					時間：<select name="county" class="place">
			                                	<option value="">過去一個月</option>
											</select>
										<span class="fr_bt">共5筆記錄</span>
						  			</li>
				  					<li class="row-fluid hidden-phone sr_bonus_fr"> <!-- 平板電腦上才出現，手機版不會 -->
				  						<span class="span4 sp2_1"><a href="#">使用記錄 &nbsp<i class="icon-chevron-down"></i></a></span>
				  						<span class="span4 sp2_2">查看訂單</span>
			  							<span class="span2 sp2_3">紅利使用</span>
										<span class="span2 sp2_4">剩餘紅利</span>
				  					</li>
				  					<!-- 使用紀錄 -->
				  					<li class="row-fluid itemNAV double-item">
										<div class="row-fluid span4 visp2_1">
											<span>
											<label class="visible-phone">使用記錄</label><!-- 手機版上才出現 -->
											2012/9/22  　消費獲得 5 點
											</span>
										</div>
										<div class="row-fluid span4 visp2_2">
											<span>
												<label class="visible-phone">查看訂單</label><!-- 手機版上才出現 -->
												<a href="#">2012092000001</a>
											</span>
										</div>
										<div class="row-fluid span2 visp2_3">
											<span>
												<label class="visible-phone">紅利使用</label><!-- 手機版上才出現 -->
												+5
											</span>
										</div>
										<div class="row-fluid span2 visp2_4">
											<span>
												<label class="visible-phone">剩餘紅利</label><!-- 手機版上才出現 -->
												<a class="charge">3</a>
											</span>
										</div>
									</li>
				  					<!-- 使用紀錄 End -->
			                        <!-- 使用紀錄 -->
				  					<li class="row-fluid itemNAV">
										<div class="row-fluid span4 visp2_1">
											<span>
											<label class="visible-phone">使用記錄</label><!-- 手機版上才出現 -->
											2012/9/22  　消費獲得 5 點
											</span>
										</div>
										<div class="row-fluid span4 visp2_2">
											<span>
												<label class="visible-phone">查看訂單</label><!-- 手機版上才出現 -->
												<a href="#">2012092000001</a>
											</span>
										</div>
										<div class="row-fluid span2 visp2_3">
											<span>
												<label class="visible-phone">紅利使用</label><!-- 手機版上才出現 -->
												+5
											</span>
										</div>
										<div class="row-fluid span2 visp2_4">
											<span>
												<label class="visible-phone">剩餘紅利</label><!-- 手機版上才出現 -->
												<a class="charge">3</a>
											</span>
										</div>
									</li>
				  					<!-- 使用紀錄 End -->
			                        <!-- 使用紀錄 -->
				  					<li class="row-fluid itemNAV double-item">
										<div class="row-fluid span4 visp2_1">
											<span>
											<label class="visible-phone">使用記錄</label><!-- 手機版上才出現 -->
											2012/9/22  　消費獲得 5 點
											</span>
										</div>
										<div class="row-fluid span4 visp2_2">
											<span>
												<label class="visible-phone">查看訂單</label><!-- 手機版上才出現 -->
												<a href="#">2012092000001</a>
											</span>
										</div>
										<div class="row-fluid span2 visp2_3">
											<span>
												<label class="visible-phone">紅利使用</label><!-- 手機版上才出現 -->
												+5
											</span>
										</div>
										<div class="row-fluid span2 visp2_4">
											<span>
												<label class="visible-phone">剩餘紅利</label><!-- 手機版上才出現 -->
												<a class="charge">3</a>
											</span>
										</div>
									</li>
				  					<!-- 使用紀錄 End -->
				  				</ul>
				  			</div>
						</div>
						<div class="tab-pane" id="tab3">
						這裡放Tab3內容
						</div>
						<div class="tab-pane" id="tab4">
						這裡放Tab4內容
						</div>
						<div class="tab-pane" id="tab5">
						這裡放Tab5內容
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>