<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include s_header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>

		<div class="container product 7_0">
			<div class="span12 pro_ref_frame ">
				<ul class="nav nav-tabs pro-nav-tabs orange_tab">
					<li class="limit_time_h1">會員中心</li>
					<li class="tab1 active pro_tab3"><a href="#tab1" data-toggle="tab">訂單查詢</a></li>
					<li class="tab2 pro_tab3"><a href="#tab2" data-toggle="tab">紅利查詢</a></li>
					<li class="tab1 pro_tab3"><a href="#tab3" data-toggle="tab">套票清單</a></li>
					<li class="tab2 pro_tab3"><a href="#tab4" data-toggle="tab">訂戶服務</a></li>
					<li class="tab2 pro_tab3"><a href="#tab5" data-toggle="tab">帳號資料</a></li>
				</ul>
				<div class="tab-content productframe pro_tab_content toptab_content">
					<div class="tab-pane active" id="tab1">
					這裡放Tab1內容
					</div>
					<div class="tab-pane" id="tab2">
		  			這裡放Tab2內容
					</div>
					<div class="tab-pane" id="tab3">
						<div class="row-fluid user_center_frame">
							<div class="row-fluid title_2 sr_bonus_title">
					  			<div class="span12 havebonus">
					  				盤後同學會 - 目前剩餘<span>5</span>張兌換券
					  			</div>
			  				</div>
			  				<div class="row-fluid user_alert_fr">
					  			<li class="span6 alert">
					  				您有 <a class="redf1">1</a> 張兌換券還有 60 天就要到期囉！ 馬上看近期 <a href="#">盤後同學會</a>
					  			</li>
					  			
					  			<li class="span6 text-right">共 3 筆記錄</li>
			  				</div>
			  				<ul class="span12">
			  					<li class="row-fluid hidden-phone list_rd_fr"> <!-- 平板電腦上才出現，手機版不會 -->
			  						<span class="span5 tpcsp2_1">兌換記錄 &nbsp<i class="icon-chevron-down"></i></span>
			  						<span class="span2 tpcsp2_1">兌換券使用</span>
		  							<span class="span2 tpcsp2_3">剩餘數量</span>
									<span class="span2 tpcsp2_4">查看訂單</span>
			  					</li>
			  					<!-- 使用紀錄 -->
			  					<li class="row-fluid itemNAV double-item">
									<span class="span5 tpcvisp2_1">
										<label class="visible-phone">兌換券種類</label><!-- 手機版上才出現 -->
										2012/9/22  　使用 <a href="#">溫國信 - 存好股，穩穩賺 - 12/10 台北場</a><a class="charge">1</a>張
									</span>
									<span class="span2 tpcvisp2_1">
										<label class="visible-phone">兌換券使用</label><!-- 手機版上才出現 -->
										-1
									</span>
									<span class="span2 tpcvisp2_3">
										<label class="visible-phone">剩餘數量</label><!-- 手機版上才出現 -->
										<a class="charge">5</a>
									</span>
									<span class="span2 tpcvisp2_4">
										<label class="visible-phone"></label><!-- 手機版上才出現 -->
										<a href="#">2012092000001</a>
									</span>
								</li>
			  					<!-- 使用紀錄 End -->
		                        <!-- 使用紀錄 -->
			  					<li class="row-fluid itemNAV">
									<span class="span5 tpcvisp2_1">
										<label class="visible-phone">兌換券種類</label><!-- 手機版上才出現 -->
										2012/9/22  　購買 3 張兌換券
									</span>
									<span class="span2 tpcvisp2_1">
										<label class="visible-phone">兌換券使用</label><!-- 手機版上才出現 -->
										-1
									</span>
									<span class="span2 tpcvisp2_3">
										<label class="visible-phone">剩餘數量</label><!-- 手機版上才出現 -->
										<a class="charge">5</a>
									</span>
									<span class="span2 tpcvisp2_4">
										<label class="visible-phone"></label><!-- 手機版上才出現 -->
										<a href="#">2012092000001</a>
									</span>
			  					</li>
			  					<!-- 使用紀錄 End -->
		                        <!-- 使用紀錄 -->
			  					<li class="row-fluid itemNAV double-item">
									<span class="span5 tpcvisp2_1">
										<label class="visible-phone">兌換券種類</label><!-- 手機版上才出現 -->
										2012/9/22  　購買 3 張兌換券
									</span>
									<span class="span2 tpcvisp2_1">
										<label class="visible-phone">兌換券使用</label><!-- 手機版上才出現 -->
										-1
									</span>
									<span class="span2 tpcvisp2_3">
										<label class="visible-phone">剩餘數量</label><!-- 手機版上才出現 -->
										<a class="charge">5</a>
									</span>
									<span class="span2 tpcvisp2_4">
										<label class="visible-phone"></label><!-- 手機版上才出現 -->
										<a href="#">2012092000001</a>
									</span>
			  					</li>
			  					<!-- 使用紀錄 End -->
			  				</ul>
			  			</div>
					</div>
					<div class="tab-pane" id="tab4">
					這裡放Tab4內容
					</div>
					<div class="tab-pane" id="tab5">
					這裡放Tab5內容
					</div>
				</div>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>