<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span9 dis_ref_frame ">
					<ul class="nav nav-tabs pro-nav-tabs orange_tab">
						<li class="limit_time_h1">活動專區</li>
						<li class="tab1 active dis_tab3"><a href="#tab1" data-toggle="tab">本月活動</a></li>
						<li class="tab2 dis_tab3"><a href="#tab2" data-toggle="tab">已結束活動</a></li>
					</ul>
					<div class="tab-content productframe">
						<div class="tab-pane active" id="tab1">
							<div class="row-fluid">
								<div class="span6"><a href="#">所有活動</a> | 類型
									<select>
										<option>內湖區</option>
										<option>查詢到期期數</option>
										<option>更改收件地址</option>
										<option>雜誌補寄申請</option>
										<option>讀者服務信箱</option>
										<option>索取紙本發票</option>
									</select>
								</div>
								<div class="span4 hidden-phone"></div>
								<div class="span2 text-right">
								<div class="btn btn-small">
										<i class="icon-list"></i>
									</div>
									<div class="btn btn-small">
										<i class="icon-calendar"></i>
									</div>
								</div>
								<div class="span12">
									<div class="media contentitem">
										<a class="pull-left contentimg" href="#">
											<img class="media-object" src="images/discussions/thumb_1.jpg">
										</a>
										<a class="contenttext" href="#">
											<div class="media-body contenttext">
												<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>專業可靠讓財富傳承</h5>
												<p>> 活動時間：2012 年 12 月 2 日 ~ 12 月 23 日</p>
												<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											</div>
										</a>
									</div>
									<div class="media contentitem">
										<a class="pull-left contentimg" href="#">
											<img class="media-object" src="images/discussions/thumb_1.jpg">
										</a>
										<a class="contenttext" href="#">
											<div class="media-body contenttext">
												<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>專業可靠讓財富傳承</h5>
												<p>> 活動時間：2012 年 12 月 2 日 ~ 12 月 23 日</p>
												<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											</div>
										</a>
									</div>
									<div class="media contentitem">
										<a class="pull-left contentimg" href="#">
											<img class="media-object" src="images/discussions/thumb_1.jpg">
										</a>
										<a class="contenttext" href="#">
											<div class="media-body contenttext">
												<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>專業可靠讓財富傳承</h5>
												<p>> 活動時間：2012 年 12 月 2 日 ~ 12 月 23 日</p>
												<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											</div>
										</a>
									</div>
									<div class="media contentitem">
										<a class="pull-left contentimg" href="#">
											<img class="media-object" src="images/discussions/thumb_1.jpg">
										</a>
										<a class="contenttext" href="#">
											<div class="media-body contenttext">
												<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>專業可靠讓財富傳承</h5>
												<p>> 活動時間：2012 年 12 月 2 日 ~ 12 月 23 日</p>
												<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											</div>
										</a>
									</div>
									<div class="media contentitem">
										<a class="pull-left contentimg" href="#">
											<img class="media-object" src="images/discussions/thumb_1.jpg">
										</a>
										<a class="contenttext" href="#">
											<div class="media-body contenttext">
												<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>專業可靠讓財富傳承</h5>
												<p>> 活動時間：2012 年 12 月 2 日 ~ 12 月 23 日</p>
												<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											</div>
										</a>
									</div>
									<div class="media contentitem">
										<a class="pull-left contentimg" href="#">
											<img class="media-object" src="images/discussions/thumb_1.jpg">
										</a>
										<a class="contenttext" href="#">
											<div class="media-body contenttext">
												<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>專業可靠讓財富傳承</h5>
												<p>> 活動時間：2012 年 12 月 2 日 ~ 12 月 23 日</p>
												<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											</div>
										</a>
									</div>
								</div>
								<% include pagination %>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
						這裡放Tab2內容
						</div>
					</div>
				</div>
				<% include smart_sidebar %>
			</div>
		</div>
		<% include footer %>
	</body>
</html>