<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
  		<div class="row-fluid">
	  		<div class="span12 maincon">
		  		<div class="row-fluid show-grid">
					<!-- 左方主內容開始-->
			  		<div class="span9 mainleft">
			  			<ul class="nav nav-tabs pro-nav-tabs">
							<li class="limit_time_h1">限時特購</li>
							<li class="tab1 active pro_tab"><a href="#tab1" data-toggle="tab">本檔特色商品</a></li>
							<li class="tab2 pro_tab2"><a href="#tab2" data-toggle="tab">前期特色商品</a></li>
							123
					</ul>
				<div class="tab-content productframe">
					<div class="tab-pane active" id="tab1">
			  		</div>
			  		<% include smart_sidebar %>
			  	</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>