<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
  		<div class="row-fluid">
	  		<div class="span12 maincon">
		  		<div class="row-fluid show-grid">
					<!-- 左方主內容開始-->
			  		<div class="span9 mainleft">
			  			<!-- 內容 -->
			  			<div class="fb_l_like"><img src="./images/fb_l_like.png"></div>
			  			<div class="media topcontent1_1">
							<a class="pull-left" href="#">
							    <img class="media-object" src="./images/1/1-1.jpg">
							</a>
							<div class="media-body">
								<span class="label label-warning btnDF">盤後同學會</span>
								<h3 class="media-heading">溫國信 - 存好股，穩穩賺</h3>
					    		<h5>★含2013財報新制IFRS解讀</h5>
								<p>2012 年 12 月 2 日 ~ 12 月 23 日
								簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。</p><br>
								<div class="row-fluid media-buy"><!-- class補了row-fluid -->
									<div class="span6 add_class_cart"><!-- class補了span6 --> 
										<span class="title">優惠價</span> 
										<span class="discount"></span> 
										<span class="cost specialPrice1_1">500</span>元 
									</div>
									<button class="btn btn-large right buybtn" type="button">加入購物車</button><!-- 修改購物車樣式 -->
								</div>
							</div>	
						</div>
						<div class="span12 blockframe">
							<div class="topcontent1_0 middle1_1 speaker1_1"><!-- class補了topcontent1_0，新增了middle1_1 -->
								<div class="subject1_1"><!-- class新增了subject1_1 -->
									<h4>講師</h4>
								</div>
								<ul>
									<li class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<h5 class="speakerName">溫國信 - 存好股，穩穩賺</h5>
								    		<p>這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字。</p>
										</div>
									</li>		
									<li class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<h5 class="speakerName">溫國信 - 存好股，穩穩賺</h5>
								    		<p>這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字，這裡會放講師介紹的文字。</p>
										</div>
									</li>		
								</ul>
							</div>
							<div class="topcontent1_0 middle1_1 speech1_1"><!-- class補了topcontent1_0，新增了middle1_1 -->
								<div class="subject1_1"><!-- class新增了subject1_1 -->
									<h4>課程簡介</h4>
								</div>
								<ul class="AboutSpeech">
									<li>四小時學會掌握企業財報與經營本質</li>
									<li>一看就懂的企業獲利模式分析法</li>
									<li>2013財報新制IFRS快速解讀法</li>
									<li>IFRS對企業損益/資產負債/現金流量的影響</li>
									<li>IFRS對科技/流通/傳產/資產/營建業的重大影響</li>
									<li>母/子公司財報解讀及營運連動分析</li>
								</ul>
							</div>
							<div class="middle1_1 youtube1_1"><!-- class新增了middle1_1 -->
								<div class="subject1_1"><!-- class新增了subject1_1 -->
									<h4>精采前期花絮</h4>
								</div>
								<div class="text-center">
									<iframe width="480" height="360" src="http://www.youtube.com/embed/EfPgFdT0xyk" frameborder="0" allowfullscreen>
									</iframe>
								</div>
							</div>
							<div class="row-fluid middle1_1 speechPlace1_1"><!-- class新增了middle1_1 -->
								<div class="subject1_1"><!-- class新增了subject1_1 -->
									<h4>課程場次</h4>
								</div>
								<ul class="span12 inline">
									<li class="span6">
										<div class="media">
											<a class="pull-left" href="#">
											    <img class="media-object" src="./images/discussions/hms.jpg">
											</a>
											<div class="media-body">
												<dl class="dl-horizontal">
													<dt>日期：</dt>
														<dd>2012 年 10 月 27 日 （六）</dd>
													<dt>時間：</dt>
														<dd>13:00 ~ 17:00</dd>
													<dt>地點：</dt>
														<dd>文大推廣教育中心大新館</dd>
													<dt>地址：</dt>
														<dd>台北市延平南路127號</dd>
												</dl>
											</div>
										</div>		
									</li>
									<li class="span6">
										<div class="media">
											<a class="pull-left" href="#">
											    <img class="media-object" src="./images/discussions/hms.jpg">
											</a>
											<div class="media-body">
												<dl class="dl-horizontal">
													<dt>日期：</dt>
														<dd>2012 年 10 月 27 日 （六）</dd>
													<dt>時間：</dt>
														<dd>13:00 ~ 17:00</dd>
													<dt>地點：</dt>
														<dd>文大推廣教育中心大新館</dd>
													<dt>地址：</dt>
														<dd>台北市延平南路127號</dd>
												</dl>
											</div>
										</div>		
									</li>
									<li class="span6">
										<div class="media">
											<a class="pull-left" href="#">
											    <img class="media-object" src="./images/discussions/hms.jpg">
											</a>
											<div class="media-body">
												<dl class="dl-horizontal">
													<dt>日期：</dt>
														<dd>2012 年 10 月 27 日 （六）</dd>
													<dt>時間：</dt>
														<dd>13:00 ~ 17:00</dd>
													<dt>地點：</dt>
														<dd>文大推廣教育中心大新館</dd>
													<dt>地址：</dt>
														<dd>台北市延平南路127號</dd>
												</dl>
											</div>
										</div>		
									</li>
								</ul>	
								<div class="text-center">
									<button class="btn btn-large buybtn" type="button">加入購物車</button><!-- 修改購物車樣式 -->
								</div>
							</div>
						</div>
						<div class="span12 blockframe productdesc">
							<div>
								<div class="ref_hint_tilte">
									<h4>購物及商品退換貨說明</h4>
								</div>
								<ul>
									<li class="ref_hint_content">
								<div class="span12 ref_hint_tilte">
									<h4>購物及商品退換貨說明</h4>
								</div>
								<ul>
									<li class="span12 ref_hint_content">
										提醒您：若因個人因素退票，需酌收手續費20%，活動開辦前三個工作日起恕不接受退票。
									</li>
								</ul>
							</div>
							<hr>
							<div>
								<div class="ref_hint_tilte">
									<h4>購物及商品退換貨說明</h4>
								</div>
								<ul>
									<li class="ref_hint_content">
								<div class="span12 ref_hint_tilte">
									<h4>購物及商品退換貨說明</h4>
								</div>
								<ul>
									<li class="span12 ref_hint_content">
										使用您提供之資料。使用對象除本刊外，亦可能包括相關協力廠商。如您有依個資法或其他需服務之處，請多利用 客服信箱，或致電本公司客服中心，電話：（02）2510-8888請求協助。
									</li>
								</ul>
							</div>
							<hr>
							<div>
								<div class="ref_hint_tilte">
									<h4>購物及商品退換貨說明</h4>
								</div>
								<ul>
									<li class="ref_hint_content">
										本活動入場門票皆採電子郵件方式通知入場，於活動開辦前三個工作日起(含)寄出。
									</li>
									<li class="ref_hint_content">
										為提供更完善的品質，主辦單位將保留活動調整權利。若因天候及其他不可抗力因素有改期或變動場地之必要，主辦單位將於第一時間公告周知。
									</li>
									<li class="ref_hint_content">
								<div class="span12 ref_hint_tilte">
									<h4>購物及商品退換貨說明</h4>
								</div>
								<ul>
									<li class="span12 ref_hint_content">
										本活動入場門票皆採電子郵件方式通知入場，於活動開辦前三個工作日起(含)寄出。
									</li>
									<li class="span12 ref_hint_content">
										為提供更完善的品質，主辦單位將保留活動調整權利。若因天候及其他不可抗力因素有改期或變動場地之必要，主辦單位將於第一時間公告周知。
									</li>
									<li class="span12 ref_hint_content">
										為提供訂購、行銷、客戶管理或其他合於營業登記項目之目的，《Smart智富》於本刊之營運期間及地區內，將以mail、傳真、電話、簡訊、郵寄或其他公告方式
									</li>
								</ul>
							</div>
						</div>
						<div class="span12 blockframe suggestion1_1">
							<div class="suggestTitle1_1"><!-- class新增了suggestTitle1_1 -->
								<h4>其他推薦</h4>
							</div>
							<ul class="span12 inline suggestionList">
								<li class="span6">
									<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<span class="label label-warning btnDF">投資理財</span>
											<h5>郭榮芳 - 財報選股實務</h5> 
											<p>★含2013財報新制IFRS解讀</p>
										</div>
									</div>
								</li>
								<li class="span6">
									<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<span class="label label-warning btnDF">投資理財</span>
											<h5>郭榮芳 - 財報選股實務</h5> 
											<p>★含2013財報新制IFRS解讀</p>
										</div>
									</div>
								</li>
								<li class="span6">
									<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<span class="label label-warning btnDF">投資理財</span>
											<h5>郭榮芳 - 財報選股實務</h5> 
											<p>★含2013財報新制IFRS解讀</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="fb-like-bottom"><img src="./images/fb_l_like.png"></div>
						<!-- 內容 -->
					</div>
			  		<% include smart_sidebar %>
			  	</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>