<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
  		<div class="row-fluid">
	  		<div class="span12 maincon">
		  		<div class="row-fluid show-grid">
					<!-- 左方主內容開始-->
			  		<div class="span9 mainleft DVD3_0">
			  			<!-- 內容 -->
			  			<div class="orangelineTop">
			  				<h3>DVD</h3>
			  			</div>
			  			<div class="blockframe">
				  			<ul class="row-fluid inline dvdBK">
				  				<li class="span6 dvd">
				  					<span><a class="fb-like" href="#"></a></span>
				  					<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/dvd/dvd1.jpg">
										</a>
										<div class="media-body">
											<h4 class="dvdName"><a href="#">台股趨勢實戰班DVD</a></h4>
								    		<p>想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？賺錢沒那麼難啦！獲利密碼就藏在隨手可得的經濟指標......</p>
										</div>	
									</div>
									<div class="text-center media-buy dvdBuy">
										<div class="span5 add_dvd_cart_out"> 
											<span class="title">優惠價</span> 
											<span class="discount"></span> 
											<span class="cost specialPrice3_0">800</span>元 
										</div>
										<button class="btn text-center buybtn" type="button">加入購物車</button>
									</div>
				  				</li>
				  				<li class="span6 dvd">
				  					<span><a class="fb-like" href="#"></a></span>
				  					<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/dvd/dvd1.jpg">
										</a>
										<div class="media-body">
											<h4 class="dvdName"><a href="#">台股趨勢實戰班DVD</a></h4>
								    		<p>想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？賺錢沒那麼難啦！獲利密碼就藏在隨手可得的經濟指標......</p>
										</div>	
									</div>
									<div class="text-center media-buy dvdBuy">
										<div class="span5 add_dvd_cart_out"> 
											<span class="title">優惠價</span> 
											<span class="discount"></span> 
											<span class="cost specialPrice3_0">800</span>元 
										</div>
										<button class="btn text-center buybtn" type="button">加入購物車</button>
									</div>
				  				</li>
				  				<li class="span6 dvd">
				  					<span><a class="fb-like" href="#"></a></span>
				  					<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/dvd/dvd1.jpg">
										</a>
										<div class="media-body">
											<h4 class="dvdName"><a href="#">台股趨勢實戰班DVD</a></h4>
								    		<p>想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？賺錢沒那麼難啦！獲利密碼就藏在隨手可得的經濟指標......</p>
										</div>	
									</div>
									<div class="text-center media-buy dvdBuy">
										<div class="span5 add_dvd_cart_out"> 
											<span class="title">優惠價</span> 
											<span class="discount"></span> 
											<span class="cost specialPrice3_0">800</span>元 
										</div>
										<button class="btn text-center buybtn" type="button">加入購物車</button>
									</div>
				  				</li>
				  				<li class="span6 dvd">
				  					<span><a class="fb-like" href="#"></a></span>
				  					<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/dvd/dvd1.jpg">
										</a>
										<div class="media-body">
											<h4 class="dvdName"><a href="#">台股趨勢實戰班DVD</a></h4>
								    		<p>想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？賺錢沒那麼難啦！獲利密碼就藏在隨手可得的經濟指標......</p>
										</div>	
									</div>
									<div class="text-center media-buy dvdBuy">
										<div class="span5 add_dvd_cart_out"> 
											<span class="title">優惠價</span> 
											<span class="discount"></span> 
											<span class="cost specialPrice3_0">800</span>元 
										</div>
										<button class="btn text-center buybtn" type="button">加入購物車</button>
									</div>
				  				</li>
				  				<li class="span6 dvd">
				  					<span><a class="fb-like" href="#"></a></span>
				  					<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/dvd/dvd1.jpg">
										</a>
										<div class="media-body">
											<h4 class="dvdName"><a href="#">台股趨勢實戰班DVD</a></h4>
								    		<p>想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？賺錢沒那麼難啦！獲利密碼就藏在隨手可得的經濟指標......</p>
										</div>	
									</div>
									<div class="text-center media-buy dvdBuy">
										<div class="span5 add_dvd_cart_out"> 
											<span class="title">優惠價</span> 
											<span class="discount"></span> 
											<span class="cost specialPrice3_0">800</span>元 
										</div>
										<button class="btn text-center buybtn" type="button">加入購物車</button>
									</div>
				  				</li>
				  			</ul>
			  			</div>
			  			<% include pagination %>
			  			<!-- 內容 -->
			  		</div>
			  		<% include smart_sidebar %>
			  	</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>