<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<div class="offset1 span8 404_fr">
				<div class="404_fr_title">Oops！找不到您要的頁面</div>
				不好意思，找不到您所輸入或查詢的網頁，有可能此頁面已被移除，或該輸入網址為無效的網址，
				您可以瀏覽其他網頁，或者利用搜尋功能重新查詢您要的資訊。
				<br/><br/>
				重新搜尋你要的資訊
				<div class="input-append">
					<input class="span2" id="appendedInputButton" type="text">
					<button class="btn" type="button">Search</button>
				</div>

				熱門：<a href="#">關鍵字</a>、<a href="#">關鍵字</a>、<a href="#">關鍵字</a>、<a href="#">關鍵字</a>
				<br/><br/>
				回 首頁 繼續瀏覽網站
			</div>
		</div>
		<% include footer %>
	</body>
</html>