<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span12 maincon">
					<div class="row-fluid show-grid">
						<!-- 左方主內容開始-->
						<div class="span9 mainleft">
							<div class="media cover4_2">
								<h4>最新出版</h4>
								<a class="pull-left" href="#">
								    <img class="media-object" src="./images/4/cover.jpg">
								</a>
								<div class="media-body">
									<div class="stitle4_1_2">
										<span>2012-10-30</span>|
										<span><a href="">Smart智富月刊 171 期</a></span>|
										<span><img src="./images/comment.gif"></sapn>
										<span>（20）</span>
									</div>
									<h4 class="media-heading"><a>小市民股債包租術</a></h4>
									<p>不怕勞保破產、不擔心健保補充費「一個人工作的目的，若只是為了要等待退休金，那會是一件悲哀的事！」講這句話的人是本期封面故事主角之一的「債市包租公」。</p>
									<ul class="text-center inline show-grid buyMeg4_2_1">
										<li class="span4"><button class="btn" type="button">零買本期雜誌</li>
										<li class="span4"><button class="btn" type="button">訂閱雜誌</li>
										<li class="span4"><button class="btn" type="button">訂閱電子雜誌</li>
										<li class="span4"><button class="btn" type="button">零買本期密技</li>
									</ul>
						    	</div>	
							</div>
							<hr>
							<div class="cover4_2_1">
								<span class="covertitle">本期簡介</span>
								<p>
									想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？賺錢沒那麼難啦！獲利密碼就藏在隨手可得的經濟指標當中只是你不知道門道在哪裡從今天起，你不必再每天瞎忙，或急忙忙送錢去給「老輸」本書，就是要教你－正確解開數據密碼，找到賺錢之路，成為長線大趨勢的贏家。
								</p>
							</div>
							<div class="cover4_2_1">
								<span class="covertitle">Smart Cover</span>
								<ul>
									<li>
										<dd style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>書籍簡介</span>
											<span style="float:right;">愛榭克（izaax）</span>
										</dd>
									</li>
									<li>
										<dd style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>作者簡介</span>
											<span style="float:right;">愛榭克（izaax）</span>
										</dd>
									</li>
									<li>
										<dd style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>目錄</span>
											<span style="float:right;">愛榭克（izaax）</span>
										</dd>
									</li>
								</ul>
							</div>
							<div class="cover4_2_1">
								<span class="covertitle">Smart Cover</span>
								<ul>
									<li>
										<div style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>自序：「5個月」的贏家 vs.「5年」的贏家</span>
											<span style="float:right;">愛榭克（izaax）</span>
										</div>
									</li>
									<li>
										<div style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>推薦序1：看懂「機會」和「泡沫」朱紀中</span>
											<span style="float:right;">朱紀中</span>
										</div>
									</li>
									<li>
										<div style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>推薦序2：找到投資規律，不獲利都難Joe</span>
											<span style="float:right;">Joe</span>
										</div>
									</li>
									<li>
										<div style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>站不住腳的長期投資術</span>
											<span style="float:right;">愛榭克（izaax）</span>
										</div>
									</li>
								</ul>
							</div>
							<div class="cover4_2_1">
								<span class="covertitle">Smart Cover</span>
								<ul>
									<li>
										<div style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>自序：「5個月」的贏家 vs.「5年」的贏家</span>
											<span style="float:right;">愛榭克（izaax）</span>
										</div>
									</li>
									<li>
										<div style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>推薦序1：看懂「機會」和「泡沫」朱紀中</span>
											<span style="float:right;">朱紀中</span>
										</div>
									</li>
									<li>
										<div style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>推薦序2：找到投資規律，不獲利都難Joe</span>
											<span style="float:right;">Joe</span>
										</div>
									</li>
									<li>
										<div style="background-image:url(./images/4/dot.jpg);background-repeat: repeat-x; ">
											<span><img src="./images/4/icon.gif"></span>
											<span>站不住腳的長期投資術</span>
											<span style="float:right;">愛榭克（izaax）</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<% include smart_sidebar %>
					</div>
				</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>