<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span12 maincon">
					<div class="row-fluid show-grid">
						<!-- 左方主內容開始-->
						<div class="span9 mainleft">
							<h4>最新出刊</h4>
							<div class="row-fluid">
								<div class="media blockframe Cover 4_2">
									<a class="span3 pull-left" href="#">
									    <img class="media-object" src="./images/4/cover.jpg">
									</a>
									<div class="span9">
										<div class="row-fluid media-body">
											<h4 class="span12">2012-10-30|<a href="">Smart智富月刊 171 期目錄</a></h4>
											<div class="span7 aboutCover">
												<h4 class="media-heading"><a>小市民股債包租術</a></h4>
												<p>不怕勞保破產、不擔心健保補充費「一個人工作的目的，若只是為了要等待退休金，那會是一件悲哀的事！」講這句話的人是本期封面故事主角之一的「債市包租公」。</p>
											</div>
								    		<ul class="span5">
								    			<li>&gt;投資F類股免納入保費計算</li>
								    			<li>&gt;投資F類股免納入保費計算</li>
								    			<li>&gt;投資F類股免納入保費計算</li>
								    			<li>&gt;投資F類股免納入保費計算</li>
								    			<li>&gt;投資F類股免納入保費計算</li>
								    		</ul>
										</div>
									</div>	
								</div>
							</div>
							<span>精彩前期</span>
							<select class="span2">
				                <option>所有雜誌</option>
				                <option>月刊</option>
				                <option>雙周刊密技</option>
				            </select>
				            <ul class="row-fluid AllCover 4_2">
					            <li class="span6 row-fluid media AllCover 4_2">
					            	<p>Smart智富月刊 170 期</p>
									<a class="pull-left" href="#">
									    <img class="media-object" src="./images/4/cover1.jpg">
									</a>
									<div class="media-body">
										<h4><a>搞懂5招　多存2000萬</a></h4>
										<ul>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    		</ul>
									</div>
								</li>
								<li class="span6 row-fluid media AllCover 4_2">
					            	<p>Smart智富月刊 170 期</p>
									<a class="pull-left" href="#">
									    <img class="media-object" src="./images/4/cover1.jpg">
									</a>
									<div class="media-body">
										<h4><a>搞懂5招　多存2000萬</a></h4>
										<ul>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    		</ul>
									</div>
								</li>
								<li class="span6 row-fluid media AllCover 4_2">
					            	<p>Smart智富月刊 170 期</p>
									<a class="pull-left" href="#">
									    <img class="media-object" src="./images/4/cover1.jpg">
									</a>
									<div class="media-body">
										<h4><a>搞懂5招　多存2000萬</a></h4>
										<ul>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    		</ul>
									</div>
								</li>
								<li class="span6 row-fluid media AllCover 4_2">
					            	<p>Smart智富月刊 170 期</p>
									<a class="pull-left" href="#">
									    <img class="media-object" src="./images/4/cover1.jpg">
									</a>
									<div class="media-body">
										<h4><a>搞懂5招　多存2000萬</a></h4>
										<ul>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    		</ul>
									</div>
								</li>
								<li class="span6 row-fluid media AllCover 4_2">
					            	<p>Smart智富月刊 170 期</p>
									<a class="pull-left" href="#">
									    <img class="media-object" src="./images/4/cover1.jpg">
									</a>
									<div class="media-body">
										<h4><a>搞懂5招　多存2000萬</a></h4>
										<ul>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    		</ul>
									</div>
								</li>
								<li class="span6 row-fluid media AllCover 4_2">
					            	<p>Smart智富月刊 170 期</p>
									<a class="pull-left" href="#">
									    <img class="media-object" src="./images/4/cover1.jpg">
									</a>
									<div class="media-body">
										<h4><a>搞懂5招　多存2000萬</a></h4>
										<ul>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    			<li>&gt;投資F類股免納入保費計算</li>
							    		</ul>
									</div>
								</li>
							</ul>
							<div class="pagination text-center">
				            	<ul>
					                <li><a href="#">«</a></li>
					                <li><a href="#">1</a></li>
					                <li><a href="#">2</a></li>
					                <li><a href="#">3</a></li>
						            <li><a href="#">»</a></li>
				            	</ul>
				            </div>
						</div>
						<% include smart_sidebar %>
					</div>
				</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>