<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span12 maincon">
					<div class="row-fluid show-grid">
						<!-- 左方主內容開始-->
						<div class="span9 mainleft">
							<div class="fb_l_like"><img src="./images/fb_l_like.png"></div>
							<div class="media  dvdINFO3_1">
								<a class="pull-left" href="#">
								    <img class="media-object" src="./images/5/book.jpg">
								</a>
								<div class="media-body">
									<h3 class="media-heading">經濟指標告訴你＆沒告訴你的事</h3>
									<h5>★含2013財報新制IFRS解讀</h5>
									<div class="row-fluid show-grid">
										<dl class="span6 dl-horizontal dvdINFO">
											<dt class="author">作者</dt>
												<dd>愛榭克</dd>
											<dt class="time">出版日期</dt>
												<dd>2012年04月27日</dd>
											<dt class="language">語言</dt>
												<dd>繁體中文</dd>
											<dt class="ISBN">ISBN</dt>
												<dd>9789867283375</dd>
											<dt class="binding">裝訂</dt>
												<dd>平裝</dd>
										</dl>
										<div class="span6 text-center media-buy">
											<div class="add_book_cart"> 
												<span class="title">定價</span> 
												<span class="discount"></span> 
												<span class="cost specialPrice1_1">300</span>元 
											</div>
											<div class="add_book_cart"> 
												<span class="title">優惠價</span> 
												<span class="discount">79折</span> 
												<span class="cost specialPrice1_1">237</span>元 
											</div>
											<button class="btn btn-large btn-warning btnDF" type="button">加入購物車</button>
										</div>
									</div>
						    	</div>	
							</div>
							<!-- <hr> -->
							<div class="blockframe">
								<div class="BOOKS5_1">
					  				<h4>書籍介紹</h4>
									<p class="aboutbook">
										想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？賺錢沒那麼難啦！獲利密碼就藏在隨手可得的經濟指標當中只是你不知道門道在哪裡從今天起，你不必再每天瞎忙，或急忙忙送錢去給「老輸」本書，就是要教你－正確解開數據密碼，找到賺錢之路，成為長線大趨勢的贏家。
									</p>
									<div class="cover4_2_1">
										<ul class="fll">
											<li>
												<div class="dotBG">
													<span class="bookwhite">書籍簡介</span>
													<span class="bookwhiteR">愛榭克（izaax）</span>
												</div>
											</li>
											<li>
												<div class="dotBG">
													<span class="bookwhite">作者簡介</span>
													<span class="bookwhiteR">愛榭克（izaax）</span>
												</div>
											</li>
											<li>
												<div class="dotBG">
													<span class="bookwhite">目錄</span>
													<span class="bookwhiteR">愛榭克（izaax）</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="BOOKS5_1">
									<h4>精采試讀</h4>
									<ul class="fll">
										<li>
											<div class="dotBG">
												<span class="bookwhite">自序：「5個月」的贏家 vs.「5年」的贏家</span>
												<span class="bookwhiteR">愛榭克（izaax）</span>
											</div>
										</li>
										<li>
											<div class="dotBG">
												<span class="bookwhite">推薦序1：看懂「機會」和「泡沫」朱紀中</span>
												<span class="bookwhiteR">朱紀中</span>
											</div>
										</li>
										<li>
											<div class="dotBG">
												<span class="bookwhite">推薦序2：找到投資規律，不獲利都難Joe</span>
												<span class="bookwhiteR">Joe</span>
											</div>
										</li>
										<li>
											<div class="dotBG">
												<span class="bookwhite">站不住腳的長期投資術</span>
												<span class="bookwhiteR">愛榭克（izaax）</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="speaker3_1">
									<h4>作者</h4>
									<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<h5 class="speakerName3_1">愛榭克（izaax）</h5>
								    		又號愛錢客，為Smart智富月刊專欄作家，專長用隨手可得的經濟數據，透過深入淺出的分析，提供投資決策最重要的基本面依據，其精準的判斷與獨到見解，連投資銀行都很想挖角。他曾準確預測2007年美股大崩盤，2007年美債大多頭，2008年台股大崩盤和油價泡沫破裂，並於2009年初呼籲投資人勇敢進場買進美股台股，預言全球股市將重啟多頭大行情。部落格目前每日超過3,000名網友到訪，單日最多曾吸引超過1萬名讀者，3年多來已累積超過300萬人次點閱率。
										</div>
									</div>		
								</div>
								<div class="dvdSpecification3_1">
									<h4>詳細規格</h4>
										<dl class="dl-horizontal">
											<dt class="span2 S_author">講師</dt>
												<dd class="span10">愛榭克</dd>
											<dt class="span2 S_date">出版日期</dt>
												<dd class="span10">2012年04月27日</dd>
											<dt class="span2 S_category">類別</dt>
												<dd class="span10">DVD</dd>
											<dt class="span2 S_grade">等級</dt>
												<dd class="span10">輔導級 / 第 3 區</dd>
											<dt class="span2 S_length">片長</dt>
												<dd class="span10">124 / 螢幕比例：2.40:1</dd>
											<dt class="span2 S_format">影音格式</dt>
												<dd class="span10">Dolby Digital 5.1ch</dd>
										</dl>
								</div>
							</div>
							<div class="span12 blockframe productdesc">
								<div class="row-fluid">
									<ul>
										<li class="span12 ref_hint_tilte">
											購物及商品退換貨說明
										</li>
										<li class="span12 ref_hint_content">
											• 提醒您：若因個人因素退票，需酌收手續費20%，活動開辦前三個工作日起恕不接受退票。
										</li>
										<li class="reref_hint_line">
										</li>
										<li class="span12 ref_hint_tilte">
											詢問與聯絡
										</li>
										<li class="span12 ref_hint_content">
											• 使用您提供之資料。使用對象除本刊外，亦可能包括相關協力廠商。如您有依個資法或其他需服務之處，請多利用 客服信箱，或致電本公司客服中心，電話：（02）2510-8888請求協助。
										</li>
										<li class="reref_hint_line">
										</li>
										<li class="span12 ref_hint_tilte">
											更多說明
										</li>
										<li class="span12 ref_hint_content">
										• 本活動入場門票皆採電子郵件方式通知入場，於活動開辦前三個工作日起(含)寄出。<br>
										• 為提供更完善的品質，主辦單位將保留活動調整權利。若因天候及其他不可抗力因素有改期或變動場地之必要，主辦單位將於第一時間公告周知。<br>
										• 為提供訂購、行銷、客戶管理或其他合於營業登記項目之目的，《Smart智富》於本刊之營運期間及地區內，將以mail、傳真、電話、簡訊、郵寄或其他公告方式
									</li>
									</ul>
								</div>
							</div>
							<div class="span12 blockframe suggestion1_1">
							<h4>其他推薦 / 精選推薦 / 你可能也喜歡</h4>
							<ul class="span12 inline suggestionList ">
								<li class="span6">
									<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<span class="label label-warning btnDF">投資理財</span>
											<h5>郭榮芳 - 財報選股實務</h5> 
											<p>★含2013財報新制IFRS解讀</p>
										</div>
									</div>
								</li>
								<li class="span6">
									<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<span class="label label-warning btnDF">投資理財</span>
											<h5>郭榮芳 - 財報選股實務</h5> 
											<p>★含2013財報新制IFRS解讀</p>
										</div>
									</div>
								</li>
								<li class="span6">
									<div class="media">
										<a class="pull-left" href="#">
										    <img class="media-object" src="./images/discussions/hms.jpg">
										</a>
										<div class="media-body">
											<span class="label label-warning btnDF">投資理財</span>
											<h5>郭榮芳 - 財報選股實務</h5> 
											<p>★含2013財報新制IFRS解讀</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="fb-like-bottom"><img src="./images/fb_l_like.png"></div>
						</div>
						<% include smart_sidebar %>
					</div>
				</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>