<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span9 pro_ref_frame">
					<ul class="nav nav-tabs pro-nav-tabs top-nav-tabs">
						<li class="tab1 active pro_tab"><a href="#tab1" data-toggle="tab">熱門討論</a></li>
						<li class="tab2 pro_tab2"><a href="#tab2" data-toggle="tab">最新討論</a></li>
					</ul>
					<div class="tab-content productframe buttom-nav-contents">
						<div class="tab-pane active" id="tab1">
					 		<div class="span7 tableftcontent ulnomargin">
								<div class="media contentitem">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<a class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading">[問題] 韓國國民年金報酬率勝台灣</h5>
											<p>國民年金報酬率國民年金報酬率國民年金報酬</p>
										</div>
									</a>
								</div>
								<div class="media contentitem">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<a class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading">[問題] 韓國國民年金報酬率勝台灣</h5>
											<p>國民年金報酬率國民年金報酬率國民年金報酬</p>
										</div>
									</a>
								</div>
								<div class="media contentitem">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<a class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading">[問題] 韓國國民年金報酬率勝台灣</h5>
											<p>國民年金報酬率國民年金報酬率國民年金報酬</p>
										</div>
									</a>
								</div>
							</div>
							<div class="span5">
								<ul class="unstyled scontentlist">
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
								</ul>
								<ul class="scontentad">
									<li><a href="#">打造品格力打造品格力打造品格力</a></li>
									<li><a href="#">打造品格力，教出「富而好禮」的</a></li>
								</ul>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
					 		<div class="span7 tableftcontent ulnomargin">
								<div class="media contentitem">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<a class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading">[問題] 韓國國民年金報酬率勝台灣</h5>
											<p>國民年金報酬率國民年金報酬率國民年金報酬</p>
										</div>
									</a>
								</div>
								<div class="media contentitem">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<a class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading">[問題] 韓國國民年金報酬率勝台灣</h5>
											<p>國民年金報酬率國民年金報酬率國民年金報酬</p>
										</div>
									</a>
								</div>
								<div class="media contentitem">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<a class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading">[問題] 韓國國民年金報酬率勝台灣</h5>
											<p>國民年金報酬率國民年金報酬率國民年金報酬</p>
										</div>
									</a>
								</div>
							</div>
							<div class="span5">
								<ul class="unstyled scontentlist">
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
									<li><a href="#">[問題] 韓國國民年金報酬率 ...</a></li>
								</ul>
								<ul class="scontentad">
									<li><a href="#">打造品格力打造品格力打造品格力</a></li>
									<li><a href="#">打造品格力，教出「富而好禮」的</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<% include smart_sidebar %>
			</div>
		</div>
		<% include footer %>
	</body>
</html>