<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span9 dis_ref_frame ">
					<ul class="nav nav-tabs pro-nav-tabs orange_tab">
						<li class="limit_time_h1">討論區</li>
						<li class="tab1 active dis_tab3"><a href="#tab1" data-toggle="tab">投資工具</a></li>
						<li class="tab2 dis_tab3"><a href="#tab2" data-toggle="tab">課程活動</a></li>
						<li class="tab1 dis_tab3"><a href="#tab3" data-toggle="tab">Smart人生</a></li>
					</ul>
					<div class="tab-content productframe pro_tab_content">
						<div class="tab-pane active" id="tab1">
						這裡放Tab1內容
							<div class="span12 text-center">
								<a href="#">理財投資綜合討論</a>｜<a href="#">股票投資</a>｜<a href="#">基金債券</a>｜<a href="#">房地產</a>｜<a href="#">保險稅務</a>
							</div>
							<div class="span12 text-right">
								<div class="btn">發新主題</div>
							</div>
							<div class="span12">
							</div>
							<div class="span12 text-center">
								<div class="pagination">
									<ul>
										<li><a href="#">Prev</a></li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">Next</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
						這裡放Tab2內容
						</div>
						<div class="tab-pane" id="tab3">
						這裡放Tab3內容
						</div>
					</div>
				</div>
				<% include smart_sidebar %>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>