<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span9 dis_ref_frame ">
					<ul class="nav nav-tabs pro-nav-tabs orange_tab">
						<li class="limit_time_h1">討論區</li>
						<li class="tab1 active dis_tab3"><a href="#tab1" data-toggle="tab">投資工具</a></li>
						<li class="tab2 dis_tab3"><a href="#tab2" data-toggle="tab">課程活動</a></li>
						<li class="tab1 dis_tab3"><a href="#tab3" data-toggle="tab">Smart人生</a></li>
					</ul>
					<div class="tab-content productframe">
						<div class="tab-pane active" id="tab1">
							<div class="span12 text-center small_tag_div_ti">
								<a href="#">理財投資綜合討論</a>｜<a href="#">股票投資</a>｜<a href="#">基金債券</a>｜<a href="#">房地產</a>｜<a href="#">保險稅務</a>
							</div>
							<div class="span12">
								<h4>[問題] 韓國國民年金報酬率勝台灣</h4>
							</div>
							<div class="span12">
								<ul>
									<li class="span6">
										<img src="images/fb_l_like.png"/>
									</li>
									<li class="offset9">
										<img src="images/fb_like_1.png" class="text-right"/>
										<img src="images/fb_like_2.png" class="text-right"/>
										<img src="images/fb_like_3.png" class="text-right"/>
									</li>
								</ul>
							</div>
							<div class="span12 dis_post_fr">
								<div class="dis_post_title_fr">
									<div class="row-fluid">
										<div class="span2">
										 # 1樓
										</div>
										<div class="span6">
											<div class="media" >
												<a class="pull-left dis_contentimg" href="#">
													<img class="media-object" src="./images/article/question_r1_c1.gif">
												</a>
												<div class="contenttext" href="#">
													<div class="media-body contenttext">
														<!-- <h5 class="media-heading">經濟指標告訴你＆沒告訴你的事</h5> -->
														<ul>
															<li><a href="#">天晴</a></li>
															<li>等級  11  [推薦部落客]</li>
															<li>發表  31</li>
															<li>回應  0</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="span4 text-right">
											2013-01-31 10:28
										</div>
									</div>
								</div>
								<div class="dis_post_content_fr">
								今年8月，一則呼籲大家要為退休未雨綢繆、及早規畫的公益廣告，在各電視台的重要時段強力放送，而這則廣告的代言人，竟是金管會副主委李紀珠，令人不禁好奇所為何來？
 
								負責這項廣告宣傳的保險業務發展基金管理委員會指出，由於台灣人口高齡化與少子化加劇，目前是平均7位年輕人養1位老人，在20年後會變成2.5位年輕人養1位老人，要養的人愈來愈多，政府財源會更拮据，要支付老百姓退休金將有問題，所以便想透過廣告來提醒民眾盡早做準備，由於主要訴求的對象是年輕人，便情商曾擔任過青輔會主委、重視年輕人要做退休規畫的李紀珠出馬。
 
								到底政府的退休基金面臨多大的財務壓力？根據官方各單位統計，台灣各項退休金制度與健保，都有可能在民國120年以前逐一破產，實在令人感到憂心。
 
								但其實，擔心政府退休基金要破產的，不只是台灣人，還有美國、法國，以及鄰近的韓國。其中，韓國早在1998年時，就精算出其國民年金將在50年後破產，但韓國並沒有以拖待變，而是花了10年時間厲行改革，成功降低了財政壓力。到底，韓國是怎麼做到的？
 
								在2009年就深入研究韓國國民年金的台灣大學社會工作學系助理教授傅從喜說：「韓國的國民年金在1988年開始實施，當時保險費率是3％，所得替代率為70％，雖有低費率、高給付的特色，但卻也造成了財務危機。」這點，韓國很快就發現，甚至主管機關還提出報告警示，在韓國人口老化持續加速下，國民年金到2036年就會入不敷出，在2047年將會宣告破產。
								</div>
								<div class="span12">
									<a href="#">檢舉文章</a>
								</div>
							</div>
							<div class="span12 dis_post_fr">
								<div class="dis_post_title_fr">
									<div class="row-fluid">
										<div class="span2">
										# 1樓<br class="hidden-phone"/><br class="hidden-phone"/><br class="hidden-phone"/><br class="hidden-phone"/>
										<a href="#">檢舉留言</a>
										</div>
										<div class="span6">
											<div class="media" >
												<a class="pull-left dis_contentimg" href="#">
													<img class="media-object" src="./images/article/question_r1_c1.gif">
												</a>
												<div class="contenttext" href="#">
													<div class="media-body contenttext">
														<!-- <h5 class="media-heading">經濟指標告訴你＆沒告訴你的事</h5> -->
														<ul>
															<li><a href="#">天晴</a></li>
															<li>等級  11  [推薦部落客]</li>
															<li>發表  31</li>
															<li>回應  0</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="span4 text-right">
											2013-01-31 10:28
											<br class="hidden-phone"/><br class="hidden-phone"/><br class="hidden-phone"/><br class="hidden-phone"/>
											<div class="btn">回覆回應</div>
										</div>
									</div>
								</div>
								<div class="dis_post_content_fr">
								今年8月，一則呼籲大家要為退休未雨綢繆、及早規畫的公益廣告，在各電視台的重要時段強力放送，而這則廣告的代言人，竟是金管會副主委李紀珠，令人不禁好奇所為何來？
								</div>
							</div>
							<div class="span12 res_div">

								<h4>回覆主題</h4>
								<div class="span12 res_post_fr">
									<div class="span12 dis_title2">
										<h2><img src="images/post_img.png" />發表您的看法</h2><a href="#" class="fr_bt">回應規則</a>&nbsp&nbsp&nbsp <a href="#" class="fr_bt">回應列表</a> 
									</div>
									<ul class="row-fluid direpo_fr">
										<li class="span12">
											歡迎提出您的看法與見解，請先<a href="#">登入會員</a>或<a href="#">加入會員</a>，並請詳情<a href="#">回應規則</a>
										</li>
										<li class="span12">
											<dl class="form_1 dl-horizontal buyer rs-numdl">
												<dt>
													<span>會員暱稱： </span>
												</dt>
												<dd>
													<input type="text">
												</dd>
												<dt>
													<span>回應內容：</span>
												</dt>
												<dd>
													<textarea rows="3"></textarea>
												</dd>
												<dt>
												</dt>
												<dd>
													您還可以輸入500字
												</dd>
												<dt>
												</dt>
												<dd>
													<div class="btn btn-large sent-btn">送出</div>
												</dd>
											</dl>
										</li>
									</ul>
									
								</div>
							</div>
							<% include pagination %>
						</div>
						<div class="tab-pane" id="tab2">
						這裡放Tab2內容
						</div>
						<div class="tab-pane" id="tab3">
						這裡放Tab3內容
						</div>
					</div>
				</div>
				<% include smart_sidebar %>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>