<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='/css/animate.css' />
		<link rel='stylesheet' href='/css/smart.css' />
		<link rel='stylesheet' href='/css/smart_RWD.css' />
		<link rel='stylesheet' href='/css/smart_tml.css' />
		<link rel='stylesheet' href='/css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
  		<div class="row-fluid">
	  		<div class="span12 maincon">
		  		<div class="row-fluid show-grid">
					<!-- 左方主內容開始-->
			  		<div class="span9 ref1_mainleft">
			  			<div class="row-fluid">
			  				<ul>
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>			  					
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>			  					
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>			  					
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>
			  					<a href="#">
			  					<li class="span4 ref1_mainleft_span row-fluid">
			  						<img class="reference_img_mid" src="images/today_sales/product_image.jpg">
			  						<div class="span12 ref_title">
			  							<h3>美式復古電話機</h3>
			  							746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。在1970年由郵政總局...746唯一款典型的英式復古電話，並是60年代英國電話款式的指標。
			  						</div>
			  					</li>
			  					</a>
			  				</ul>
			  			</div>
			  		</div>
			  		<% include smart_sidebar %>
			  	</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>