<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span12 maincon">
					<div class="row-fluid show-grid">
						<!-- 左方主內容開始-->
						<div class="span3  hidden-phone hidden-tablet-portrait mainright">	
							<div class="span12">
								相關關鍵字
							</div>
							<div class="span12 blockframe">
								<ul>
									<li>關鍵字 (9)</li>
									<li>關鍵字 (9)</li>
									<li>關鍵字 (9)</li>
									<li>關鍵字 (9)</li>
									<li>關鍵字 (9)</li>
									<li>關鍵字 (9)</li>
									<li>關鍵字 (9)</li>
									<li>關鍵字 (9)</li>
									<li>關鍵字 (9)</li>
								</ul>
							</div>
							<div class="span12"></div>
							<div class="span12 blockframe">
								<% include smart_sidebar_content %>
							</div>
						</div>
						<!-- 右方主內容開始-->
						<div class="span9 mainleft mainleft2">
							<div class="span12">
								與 Ｋ線 相關的產品 
								<br class="visible-phone" />
								<span class="label label-btn label-warning">所有結果</span>
								<span class="label label-btn ">討論區</span>
								<span class="label label-btn ">商品</span>
								<span class="label label-btn ">文章</span>
							</div>
							<div class="span12">
								<ul>
									<li class="span6">
										<select>
											<option>依 時間新到舊 排序</option>
										</select>
									</li>
									<li class="span2 hidden-phone">
									</li>
									<li class="span4">
										共158項，目前顯示 1 - 20 項
									</li>
								</ul>
							</div> 
							<div class="span12">
								<div class="media contentitem search_resault_div">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<div class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>溫國信 - 存好股，穩穩賺</h5>
											<p>> 講師：<span>溫國信（一萬變千萬雪球股達人）</span></p>
											<p>> 課程日期：<span>2012 年 12 月 2 日 ~ 12 月 23 日</span></p>
											<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											<br/>
											<b>定價：<span>300</span> 元</b>
											<br/>
											<b>優惠價： <span>79</span> 折 <span>237</span> 元</b>
											<div class="btn btn-large sent-btn">加入購物車</div>
										</div>
									</div>
								</div>
								<div class="media contentitem search_resault_div">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<div class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>溫國信 - 存好股，穩穩賺</h5>
											<p>> 講師：<span>溫國信（一萬變千萬雪球股達人）</span></p>
											<p>> 課程日期：<span>2012 年 12 月 2 日 ~ 12 月 23 日</span></p>
											<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											<br/>
											<b>定價：<span>300</span> 元</b>
											<br/>
											<b>優惠價： <span>79</span> 折 <span>237</span> 元</b>
											<div class="btn btn-large sent-btn">加入購物車</div>
										</div>
									</div>
								</div>
								<div class="media contentitem search_resault_div">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<div class="contenttext" href="#">
										<div class="media-body contenttext">
											<h5 class="media-heading"><span class="label label-warning btnDF">專題報導</span>溫國信 - 存好股，穩穩賺</h5>
											<p>> 講師：<span>溫國信（一萬變千萬雪球股達人）</span></p>
											<p>> 課程日期：<span>2012 年 12 月 2 日 ~ 12 月 23 日</span></p>
											<p>簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的雪球股投資術，漲跌都賺下跌更值錢的雪球挑股術。簡單算.低價買的......</p>
											<br/>
											<b>定價：<span>300</span> 元</b>
											<br/>
											<b>優惠價： <span>79</span> 折 <span>237</span> 元</b>
											<div class="btn btn-large sent-btn">加入購物車</div>
										</div>
									</div>
								</div>
								<div class="media contentitem search_resault_div">
									<a class="pull-left contentimg" href="#">
										<img class="media-object" src="images/discussions/thumb_1.jpg">
									</a>
									<div class="contenttext" href="#">
										<div class="media-body contenttext">
											<p> 2012-10-30 <a href="#">| Smart智富月刊171期 ｜</a> （ 20 ）</p>
											<h5 class="media-heading">歐洲基金套房客 不必急出場</h5>
											<p>過去，在投資人眼中，歐洲是個成熟穩定的市場。但自2010年歐債問題爆發以來，歐洲股市彷彿成了瘟神，人人避之唯恐不及，卻沒料到，今年的歐洲股市竟變得像新興市場一樣，波動度大，報酬表現出乎意外的好。面對這......</p>
										</div>
									</div>
								</div>
							</div>
							<% include pagination %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>