<!DOCTYPE html>
<html>
<head>
	<title>Smart自學網</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='stylesheet' href='./css/animate.css' />
	<link rel='stylesheet' href='./css/smart.css' />
	<link rel='stylesheet' href='./css/smart_RWD.css' />
	<link rel='stylesheet' href='./css/smart_tml.css' />
	<link rel='stylesheet' href='./css/smart_design.css' />		
</head> 
 <body>
	<% include header %>
  	<div class="container s3">
  		<div class="row-fluid">
  			<div class="span12">
  				<div class="row-fluid span12 cartstepframe">
  					<!--<div class="span1 cartstep cartstepwhite"> 
  					</div>-->
                    <div class="span2 cartstep myCart hidden-phone">我的購物車 <!-- 平板電腦上才出現，手機版不會 -->
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/9_0carts">
                        	<span>step1</span><br>我的購物車
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/9_4carts2">
                        	<span>step2</span><br>填寫資料
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a class="active">
                        	<span>step3</span><br>確認訂單＆付款
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/9_3carts4">
                        	<span>step</span><br>4訂單確認
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/9_1carts5">
                        	<span>step5</span><br>填寫參加者資料
                        </a>
  					</div>
  					<!--<div class="span1 cartstep cartstepwhite"> 
  					</div>-->
  				</ul>
	  		</div>
  		</div>
  		<div class="row-fluid">
  			<div class="span12 cartcontentnav">
		  	</div>
		</div>

  		<div class="row-fluid">
	  		<div class="span12 blockframe">
				<div class="row-fluid title_2">
			  		<div class="span12 talk">
			  			<h3>訂單明細確認</h3>
			  		</div>
	  			</div>
	  			<div class="row-fluid">
	  				<div class="span12 cartcontentframe">
	  					<div class="row-fluid itemNAV hidden-phone"> <!-- 平板電腦上才出現，手機版不會 -->
	  						<div class="span4">
	  							<p>商品</p>
	  						</div>
	  						<div class="span3">
	  							<p>商品規格</p>
	  						</div>
	  						<div class="span1">
	  							<p>單價</p>
	  						</div>
	  						<div class="span1">
	  							<p>數量</p>
	  						</div>
	  						<div class="span1">
	  							<p>優惠價</p>
	  						</div>
	  						<div class="span1">
	  							<p>小計</p>
	  						</div>
	  						<div class="span1">
	  						<!--<p>刪除</p>-->
	  						</div>
	  					</div>
	  					<!-- 購物車明細內容 -->
	  					<div class="row-fluid cartBK">
	  						<div class="span4">
								<div class="media shoppingitem span12">
								<a class="pull-left sitemimg img-80 hidden-phone span3" href="#">
									<img class="media-object" src="./images/discussions/thumb_2.jpg">
								</a>
								<a class="sitemtext" href="#">
									<div class="media-body">
										<span class="label label-warning btnDF">投資理財</span>
										<div class="media-heading itemKIND">郭榮芳 - 財報選股實</div>
										<p class="itemNAME">四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
									</div>
								</a>
								</div>
	  						</div> 
	  						<div class="span3 itemFORMAT cart_form">
	  							<b class="visible-phone">商品規格</b><!-- 手機版上才出現 -->
	  							<p>這是商品規格</p>
	  						</div>
	  						<div class="span1 cart_block">
	  							<b class="visible-phone ">單價</b><!-- 手機版上才出現 -->
  							  	<p>300</p>
  						  	</div>
	  						<div class="span1 cart_block">
	  							<b class="visible-phone">數量</b><!-- 手機版上才出現 -->
	  							<p>1</p>
	  						</div>
	  						<div class="span1 discount cart_block">
	  							<b class="visible-phone">優惠價</b><!-- 手機版上才出現 -->
	  							<p>500</p>
  						  	</div>
	  						<div class="span1 price cart_block">
	  							<b class="visible-phone">小計</b><!-- 手機版上才出現 -->
	  							<p>500</p>
  						  </div>
	  						<div class="span1">
	  							
	  						</div>
	  						<div class="span12">
	  						</div>
	  						<div class="span12 for2">
	  							兩人同行享優惠價9折
	  						</div>
	  					</div>
	  					<!-- 購物車明細內容 End -->
                        <!-- 購物車明細內容 -->
	  					<div class="row-fluid cartBK">
	  						<div class="span4">
								<div class="media shoppingitem span12">
								<a class="pull-left sitemimg img-80 hidden-phone span3" href="#">
									<img class="media-object" src="./images/discussions/thumb_2.jpg">
								</a>
								<a class="sitemtext" href="#">
									<div class="media-body">
										<span class="label label-warning btnDF">投資理財</span>
										<div class="media-heading itemKIND">郭榮芳 - 財報選股實</div>
										<p class="itemNAME">四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
									</div>
								</a>
								</div>
	  						</div> 
	  						<div class="span3 itemFORMAT cart_form">
	  							<b class="visible-phone">商品規格</b><!-- 手機版上才出現 -->
	  							<p>這是商品規格</p>
	  						</div>
	  						<div class="span1 cart_block">
	  							<b class="visible-phone ">單價</b><!-- 手機版上才出現 -->
  							  	<p>300</p>
  						  	</div>
	  						<div class="span1 cart_block">
	  							<b class="visible-phone">數量</b><!-- 手機版上才出現 -->
	  							<p>1</p>
	  						</div>
	  						<div class="span1 discount cart_block">
	  							<b class="visible-phone">優惠價</b><!-- 手機版上才出現 -->
	  							<p>500</p>
  						  	</div>
	  						<div class="span1 price cart_block">
	  							<b class="visible-phone">小計</b><!-- 手機版上才出現 -->
	  							<p>500</p>
  						  </div>
	  						<div class="span1">
	  						</div>
	  						<div class="span12">
	  						</div>
	  						<div class="span12 for2">
	  							兩人同行享優惠價9折
	  						</div>
	  					</div>
	  					<!-- 購物車明細內容 End -->
	  				</div>
	  			</div>

	  			<div class="cartprice">
					<div class="row-fluid cartsum"> 
						<span class="sumdesc"></span>
						<span class="sumlabel">商品金額小計</span>
						<span class="summoney">NT$</span><span class="sumprice">12,117</span>
					</div>
					<div class="row-fluid cartshippingsum"> 
						<span class="sumdesc fare"></span>
						<span class="sumlabel">物流費</span>
						<span class="summoney">NT$</span><span class="sumprice">12,117</span>
					</div>
					<div class="row-fluid cartbonusr"> 
						<span class="sumdesc fare"></span>
						<span class="sumlabel">本次消費紅利扺用金額</span>
						<span class="summoney">NT$</span><span class="sumprice">12,117</span>
					</div>
					<div class="row-fluid carttotal"> 
						<span class="sumdesc fare"></span>
						<span class="sumlabel">訂單金額總計</span>
						<span class="summoney">NT$</span><span class="sumprice">12,117</span>
					</div>
					<div class="row-fluid cartbonus"> 
						<span class="sumdesc fare"></span>
						<span class="sumlabel">本次可得紅利</span>
						<span class="summoney">NT$</span><span class="sumprice">12,117</span>
					</div>
				</div>
				<div class="row-fluid title_2">
			  		<div class="span12">
			  			<h3>訂購人及收件人資料確認</h3>
			  		</div>
			  		<div class="span12">
			  			<div class="row-fluid">
			  	
			  			<ul >
							<li class="span6">
								<h4>訂購人資料</h4>
								<dl class="dl-horizontal CHECKinfo">
									<dt>姓名</dt>
									<dd>王大明</dd>
									<dt>行動電話</dt>
									<dd>0912-345678</dd>
									<dt>Email</dt>
									<dd>email@gmail.com</dd>
									<dt>聯絡地址</dt>
									<dd>114  台北市內湖區中正路123號4樓</dd>
								</dl>
							</li>
						  <li class="span6">
							<h4>收件人資料</h4>
							  <dl class="dl-horizontal CHECKinfo">
								  <dt>姓名</dt>
								  <dd>王大明</dd>
								  <dt>行動電話</dt>
								  <dd>0912-345678</dd>
								  <dt>Email</dt>
								  <dd>email@gmail.com</dd>
								  <dt>聯絡地址</dt>
								  <dd>114  台北市內湖區中正路123號4樓</dd>
							  </dl>
							</li>
							<div class="clear"></div>
						</ul>
				
						</div>
			  		</div>
	  			</div>
	  			<div class="row-fluid title_2">
			  		<div class="span12">
			  			<h3>發票資訊確認</h3>
			  		</div>
			  		<div class="span12">
			  			<ul class="info_2">
							<li>
								<dl class="dl-horizontal">
									<dt>發票種類</dt>
									<dd>電子發票</dd>
									<dt>是否捐贈</dt>
									<dd>不捐贈</dd>
								</dl>
							</li>
							<div class="clear"></div>
						</ul>
			  		</div>
	  			</div>
	  		</div>
  		</div>
  		<div class="row-fluid btnBK text-center">
			<div class="span12">
            	<button class="btn btn-large SPBKbtn">回上一步</button>
            	<button class="btn btn-large btn-warning SPBKbtn">信用卡Visa/Master付款</button>
				<button class="btn btn-large btn-warning SPBKbtn">ATM付款</button>
        	</div>
  		</div>
  	</div>
</div>
<% include small_footer %>
</body>
</html>