<!DOCTYPE html>
<html>
<head>
	<title>Smart自學網</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='stylesheet' href='./css/animate.css' />
	<link rel='stylesheet' href='./css/smart.css' />
	<link rel='stylesheet' href='./css/smart_RWD.css' />
	<link rel='stylesheet' href='./css/smart_tml.css' />
	<link rel='stylesheet' href='./css/smart_design.css' />		
</head> 
 <body>
 	<% include header %>
  	<div class="container s2">
  		<div class="row-fluid">
  			<div class="span12">
  				<div class="row-fluid span12 cartstepframe">
  					<!--<div class="span1 cartstep cartstepwhite"> 
  					</div>-->
                    <div class="span2 cartstep myCart hidden-phone">我的購物車 <!-- 平板電腦上才出現，手機版不會 -->
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/9_0carts">
                        	<span>step1</span><br>我的購物車
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a class="active">
                        	<span>step2</span><br>填寫資料
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/9_2carts3">
                        	<span>step3</span><br>確認訂單＆付款
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/9_3carts4">
                        	<span>step</span><br>4訂單確認
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/9_1carts5">
                        	<span>step5</span><br>填寫參加者資料
                        </a>
  					</div>
  					<!--<div class="span1 cartstep cartstepwhite"> 
  					</div>-->
  				</ul>
	  		</div>
  		</div>
  		<div class="row-fluid">
  			<div class="span12 cartcontentnav">
		  	</div>
		</div>
  		<div class="row-fluid">
	  		<div class="span12 blockframe accordion-heading">
				<a class="accordion-toggle cart_content_details" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					<div class="row-fluid title_2">
						<div class="span12 talk">
							<h3>訂單明細
								<div class="cartbkframe">
									<img src="./images/old-go-bottom.png" />
								</div>
							</h3>
						</div>
					</div>
				</a>
				
				<div id="collapseOne" class="accordion-body collapse">
					<!-- 訂單明細內容  -->
						<div class="row-fluid">
			  				<div class="span12 cartcontentframe ">
			  					<div class="row-fluid itemNAV hidden-phone"> <!-- 平板電腦上才出現，手機版不會 -->
			  						<div class="span4">
			  							<p>商品</p>
			  						</div>
			  						<div class="span3">
			  							<p>商品規格</p>
			  						</div>
			  						<div class="span1">
			  							<p>單價</p>
			  						</div>
			  						<div class="span1">
			  							<p>數量</p>
			  						</div>
			  						<div class="span1">
			  							<p>優惠價</p>
			  						</div>
			  						<div class="span1">
			  							<p>小計</p>
			  						</div>
			  						<div class="span1">
			  						<!--<p>刪除</p>-->
			  						</div>
			  					</div>
			  					<!-- 購物車明細內容 -->
			  					<div class="row-fluid cartBK">
			  						<div class="span4">
										<div class="media shoppingitem span12">
										<a class="pull-left sitemimg img-80 hidden-phone span3" href="#">
											<img class="media-object" src="./images/discussions/thumb_2.jpg">
										</a>
										<a class="sitemtext" href="#">
											<div class="media-body">
												<span class="label label-warning btnDF">投資理財</span>
												<div class="media-heading itemKIND">郭榮芳 - 財報選股實</div>
												<p class="itemNAME">四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
											</div>
										</a>
										</div>
									</div>
			  						<div class="span3 itemFORMAT cart_form">
			  							<b class="visible-phone">商品規格</b><!-- 手機版上才出現 -->
			  							<p>這是商品規格</p>
			  						</div>
			  						<div class="span1 cart_block">
			  							<b class="visible-phone ">單價</b><!-- 手機版上才出現 -->
		  							  	<p>300</p>
		  						  	</div>
			  						<div class="span1 cart_block">
			  							<b class="visible-phone">數量</b><!-- 手機版上才出現 -->
			  							<p>1</p>
			  						</div>
			  						<div class="span1 discount cart_block">
			  							<b class="visible-phone">優惠價</b><!-- 手機版上才出現 -->
			  							<p>500</p>
		  						  	</div>
			  						<div class="span1 price cart_block">
			  							<b class="visible-phone">小計</b><!-- 手機版上才出現 -->
			  							<p>500</p>
		  						  </div>
			  						<div class="span1">
			  							<a href="#"><p><img src="./images/trash_can_icon.gif" /></p></a>
			  						</div>
			  						<div class="span12">
			  						</div>
			  						<div class="span12 for2">
			  							兩人同行享優惠價9折
			  						</div>
			  					</div>
			  					<!-- 購物車明細內容 End -->
		                        <!-- 購物車明細內容 -->
			  					<div class="row-fluid cartBK cart_block_frame">
			  						<div class="span4">
										<div class="media shoppingitem span12">
										<a class="pull-left sitemimg img-80 hidden-phone span3" href="#">
											<img class="media-object" src="./images/discussions/thumb_2.jpg">
										</a>
										<a class="sitemtext" href="#">
											<div class="media-body">
												<span class="label label-warning btnDF">投資理財</span>
												<div class="media-heading itemKIND">郭榮芳 - 財報選股實</div>
												<p class="itemNAME">四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
											</div>
										</a>
										</div>
									</div> 
			  						<div class="span3 itemFORMAT cart_form">
			  							<b class="visible-phone">商品規格</b><!-- 手機版上才出現 -->
			  							<p>這是商品規格</p>
			  						</div>
			  						<div class="span1 cart_block">
			  							<b class="visible-phone ">單價</b><!-- 手機版上才出現 -->
		  							  	<p>300</p>
		  						  	</div>
			  						<div class="span1 cart_block">
			  							<b class="visible-phone">數量</b><!-- 手機版上才出現 -->
			  							<p>00</p>
			  						</div>
			  						<div class="span1 discount cart_block">
			  							<b class="visible-phone">優惠價</b><!-- 手機版上才出現 -->
			  							<p>500</p>
		  						  	</div>
			  						<div class="span1 price cart_block">
			  							<b class="visible-phone">小計</b><!-- 手機版上才出現 -->
			  							<p>500</p>
		  						  </div>
			  						<div class="span1">
			  							<a href="#"><p><img src="./images/trash_can_icon.gif" /></p></a>
			  						</div>
			  						<div class="span12">
			  						</div>
			  						<div class="span12 for2">
			  							兩人同行享優惠價9折
			  						</div>
			  					</div>
			  					<!-- 購物車明細內容 End -->
			  				</div>
			  			</div>
					<!--  訂單明細內容結束-->
				</div>
	  			
	  			<div class="row-fluid title_2">
			  		<div class="span12">
		  			  <h3>紅利折抵</h3>
			  		</div>
			  		<div class="span12 bonusarea">		  			
						<input type="radio" name="" value="" class="radio">不折抵<br>
						<input type="radio" name="" value="" class="radio">紅利 100 點可折抵 1 元現金，我要使用<input type="text" class="textbox" value="500"> 點紅利，折抵<input type="text" class="textbox" value="5"> 元現金。
                        <span class="notify"><a class="bonusRULE"href="#">紅利折抵規則</a></span><br>
                        <div class="LACKbonus">您的紅利不足</div>
					</div>
				</div>
	  			<!-- 金額結算區內容 -->
				<div class="cartprice">
					<div class="row-fluid cartsum"> 
						<span class="sumdesc"></span>
						<span class="sumlabel">此訂單金額總計</span>
						<span class="summoney">NT$</span><span class="sumprice">12,117</span>
					</div>
					<div class="row-fluid cartbonusr"> 
						<span class="sumdesc fare"></span>
						<span class="sumlabel">紅利折抵</span>
						<span class="summoney">NT$</span><span class="sumprice">12,117</span>
					</div>
					<div class="row-fluid carttotal"> 
						<span class="sumdesc fare"></span>
						<span class="sumlabel">實際應付金額</span>
						<span class="summoney">NT$</span><span class="sumprice">12,117</span>
					</div>
				</div>
	  			<!-- 金額結算區內容 End-->
				<div class="row-fluid title_2">
			  		<div class="span12">
			  			<h3>訂購人資訊</h3>
			  		</div>
			  		<div class="span12">
			  			<dl class="form_1 dl-horizontal buyer">
							<dt>姓名</dt>
							<dd>
								<input type="text" value="王大明" class="buyerTXT">
								<input type="radio" name="gender" value="male" class="radio"> 先生
								<input type="radio" name="gender" value="female" class="radio"> 小姐
							</dd>
							<dt>行動電話</dt>
							<dd>
								<input type="text" value="0912-345678" class="buyerTXT">
								<span class="carts3desc">格式：0912-345678</span>
								
							</dd>
							<dt>Email</dt>
							<dd>
								<input type="text" value="ccool2486@gmail.com" class="buyerTXT">
							</dd>
							<dt>聯絡地址</dt>
							<dd>
								<select name="county" class="place">
                                	<option value="">請選擇地區</option>
									<option value="taipei">台北</option>
									<option value="shinbei">台北</option>
									<option value="taoyuan">桃園</option>
									<option value="keelung">基隆</option>
								</select>
								
								<select name="city" class="place">
                                	<option value="">請選擇地區</option>
									<option value="taipei">台北市</option>
									<option value="shinbei">台北</option>
									<option value="taoyuan">桃園</option>
									<option value="keelung">基隆</option>
								</select>
								<input type="text" class="short" value="114">
								<input type="text" value="中正路123號4樓">
                                <span class="fare">僅限於台灣本島地區宅配送貨</span>
							</dd>
                            <dt></dt><dd class="fare">* 若您的訂單中包含轉單商品，由於商品將由廠商直接寄出，恕無法依您指定的時間送達。</dd>
							<div class="clear"></div>
						</dl>
			  		</div>
				</div>
				<div class="row-fluid title_2">
			  		<div class="span12">
			  			<h3>收件人資訊</h3>
                        <label class="checkbox inline span12">
							<input type="checkbox" id="inlineCheckbox1" value="option1">同訂購人資訊請打勾
						</label>
			  		</div>
			  		<div class="span12">
			  			<dl class="form_1 dl-horizontal buyer">
							<dt>姓名</dt>
							<dd>
								<input type="text" value="王大明" class="buyerTXT">
								<input type="radio" name="gender" value="male" class="radio"> 先生
								<input type="radio" name="gender" value="female" class="radio"> 小姐
							</dd>
							<dt>行動電話</dt>
							<dd>
								<input type="text" value="0912-345678" class="buyerTXT">
								&nbsp;格式：0912-345678
								
							</dd>
							<dt>Email</dt>
							<dd>
								<input type="text" value="ccool2486@gmail.com" class="buyerTXT">
							</dd>
							<dt>聯絡地址</dt>
							<dd>
								<select name="county" class="place">
                                	<option value="">請選擇地區</option>
									<option value="taipei">台北</option>
									<option value="shinbei">台北</option>
									<option value="taoyuan">桃園</option>
									<option value="keelung">基隆</option>
								</select>
								
								<select name="city" class="place">
                               	  <option value="">請選擇地區</option>
									<option value="taipei">台北市</option>
									<option value="shinbei">台北</option>
									<option value="taoyuan">桃園</option>
									<option value="keelung">基隆</option>
								</select>
								<input type="text" class="short" value="114" style="width:30px;">
								<input type="text" value="中正路123號4樓">
							</dd>
							<div class="clear"></div>
						</dl>
			  		</div>
				</div>
				<div class="row-fluid title_2">
			  		<div class="span12">
			  			<h3>發票資訊</h3>
			  		</div>
			  		<div class="span12">
			  			<dl class="form_1 dl-horizontal buyer">
							<dt><input type="radio" name="" value="" class="radio"></dt>
                            	<dd>捐贈:捐贈單位-陽光基金會</dd>
							<dt><input type="radio" name="" value="" class="radio"></dt>
                            	<dd>不捐贈</dd>
                       	  	<!--<dd class="invoice">三聯式發票 統一編號<input type="text" value=""> 發票抬頭 <input type="text" value=""></dd>-->
							</dd>
							<div class="clear"></div>
						</dl>
			  		</div>
				</div>
	  		</div>
  		</div>
  	</div>
	<div class="row-fluid ">
  			<div class="span12 visible-phone"><!-- 手機版上才出現 -->
  				建議使用桌上或平板頁面完成結帳流程
  			</div>
  		</div>
  		<div class="row-fluid btnBK text-center">
        	<div class="span12">
            	<button class="btn btn-large SPBKbtn">回上一步</button>
            	<button class="btn btn-large btn-warning SPBKbtn">開始結帳</button>
        	</div>
            
    	</div>
        </div>
<% include small_footer %>
</body>
</html>