<!DOCTYPE html>
<html>
<head>
	<title>Smart自學網</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='stylesheet' href='/css/animate.css' />
	<link rel='stylesheet' href='/css/smart.css' />
	<link rel='stylesheet' href='/css/smart_RWD.css' />
	<link rel='stylesheet' href='/css/smart_tml.css' />
	<link rel='stylesheet' href='/css/smart_design.css' />		
</head> 
 <body>
	<% include header %>
  	<div class="container">
  		<div class="row-fluid">
  			<div class="span12">
  				<div class="row-fluid span12 cartstepframe">
  					<!--<div class="span1 cartstep cartstepwhite"> 
  					</div>-->
                    <div class="span2 cartstep myCart hidden-phone">我的購物車  <!-- 平板電腦上才出現，手機版不會 -->
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a class="active">
                        	<span>step1</span><br>我的購物車
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/carts2">
                        	<span>step2</span><br>填寫資料
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/carts3">
                        	<span>step3</span><br>確認訂單＆付款
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/carts4">
                        	<span>step</span><br>4訂單確認
                        </a>
  					</div>
  					<div class="span2 cartstep cartBG"> 
  						<a href="/carts5">
                        	<span>step5</span><br>填寫參加者資料
                        </a>
  					</div>
  					<!--<div class="span1 cartstep cartstepwhite"> 
  					</div>-->
  				</ul>
	  		</div>
  		</div>
  		<div class="row-fluid">
  			<div class="span12 cartcontentnav">
		  		  <a  href="/carts"><li class="span2">我的購物車</li></a>
           	      <a href="/carts_bonus2"><li class="span2">紅利查詢</li></a>
				  <a href="#"><li class="span2 active ">兌換券清單</li></a>
		   </div>
		</div>

  		<div class="row-fluid">
	  		<div class="span12 blockframe aboutCart carts_bonus3">
	  			<div class="row-fluid title_2">
			  	</div>
	  			<div class="row-fluid">
	  				<div class="span12 cartcontentframe">
	  					<div class="row-fluid itemNAV hidden-phone"><!-- 平板電腦上才出現，手機版不會 -->
	  						<div class="span2">
	  							<p>兌換券種類</p>
	  						</div>
	  						<div class="span1">
	  							<p>剩餘數量</p>
	  						</div>
	  						<div class="span7">
  							  <p>最近一筆兌換記錄</p>
  						   </div>
	  						<div class="span2">
  							</div>
	  					</div>
	  					<!-- 使用紀錄 -->
	  					<div class="row-fluid itemNAV">
	  						<div class="span2">
	  							<p class="visible-phone">兌換券種類</p> <!-- 手機版上才出現 -->
                            	<p>盤後同學會</p>
	  						</div>
	  						<div class="span1">
	  							<p class="visible-phone">剩餘數量</p><!-- 手機版上才出現 -->
                            	<p class="charge">3</p>
	  						</div>
	  						<div class="span7">
	  							<p class="visible-phone">最近一筆兌換記錄</p><!-- 手機版上才出現 -->
  							    <p>2012/9/22  使用<span>1</span> 張：<a href="">溫國信 - 存好股，穩穩賺 - 12/10 台北場</a></p>
  						  	</div>
	  						<div class="span2">
                            	<p><a class="btn" href="">看所有紀錄</a></p>
	  						</div>
	  					</div>
	  					<!-- 使用紀錄 End -->
                       <!-- 使用紀錄 -->
	  					<div class="row-fluid itemNAV">
	  						<div class="span2">
	  							<p class="visible-phone">兌換券種類</p><!-- 手機版上才出現 -->
                            	<p>盤後同學會</p>
	  						</div>
	  						<div class="span1">
	  							<p class="visible-phone">剩餘數量</p><!-- 手機版上才出現 -->
                            	<p class="charge">3</p>
	  						</div>
	  						<div class="span7">
	  							<p class="visible-phone">最近一筆兌換記錄</p><!-- 手機版上才出現 -->
  							    <p>2012/9/22  使用<span>1</span> 張：<a href="">溫國信 - 存好股，穩穩賺 - 12/10 台北場</a></p>
  						  	</div>
	  						<div class="span2">
                            	<p><a class="btn" href="">看所有紀錄</a></p>
	  						</div>
	  					</div>
	  					<!-- 使用紀錄 End -->
                       <!-- 使用紀錄 -->
	  					<div class="row-fluid itemNAV">
	  						<div class="span2">
	  							<p class="visible-phone">兌換券種類</p><!-- 手機版上才出現 -->
                            	<p>盤後同學會</p>
	  						</div>
	  						<div class="span1">
	  							<p class="visible-phone">剩餘數量</p><!-- 手機版上才出現 -->
                            	<p class="charge">3</p>
	  						</div>
	  						<div class="span7">
	  							<p class="visible-phone">最近一筆兌換記錄</p><!-- 手機版上才出現 -->
  							    <p>2012/9/22  使用<span>1</span> 張：<a href="">溫國信 - 存好股，穩穩賺 - 12/10 台北場</a></p>
  						  	</div>
	  						<div class="span2">
                            	<p><a class="btn" href="">看所有紀錄</a></p>
	  						</div>
	  					</div>
	  					<!-- 使用紀錄 End -->
                        <div class="row-fluid ">
                        	<div class="span9"></div>
                        	<div class="span3 timeproblem">兌換券有無截止日期問題？</div>
                        </div>
	  				</div>
	  			</div>

	  		</div>
  		</div>
  		<div class="row-fluid ">
  			<div class="span12 visible-phone cart_suggeust">
  				建議使用桌上或平板頁面完成結帳流程
  			</div>
  		</div>
</div>
</div>
<% include small_footer %>
</body>
</html>