<!-- 桌面/平板的fat footer 開始 -->
<div class="container hidden-phone fatfooter">
	<div class="row-fluid">
  		<div class="span12 row-fluid">
			<!-- 桌面/平板的fat footer 左邊內容 -->
			<div class="span9 footertopnav fatleft">
				<ul>
					<li class="footertopnav_title">
						<p>課程活動</p>
						<div>
							<ul>
								<li>
									<b>投資類</b>
								</li>
								<li>
									<a>投資課程</a>
								</li>
								<li>
									<a>盤後同學會</a>
								</li>
								<li>
									<b>職場</b>
								</li>
								<li>
									<a>超人俱樂部</a>
								</li>
								<li>
									<a>下班同學會</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="footertopnav_title">
						<p>基金</p>
						<div>
							<ul>
								<li>
									<a>基金債券討論區</a>
								</li>
								<li>
									<a>基金懶人包</a>
								</li>
								<li>
									<a>排行榜</a>
								</li>
								<li>
									<a>晨星評鑑</a>
								</li>
								<li>
									<a>愛謝克觀點</a>
								</li>
								<li>
									<a>黃媺芸觀點</a>
								</li>
								<li>
									<a>蕭碧燕專欄</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="footertopnav_title">
						<p>股票</p>
						<div>
							<ul>
								<li>
									<a>股票投資討論區</a>
								</li>
								<li>
									<a>股票懶人包</a>
								</li>
								<li>
									<a>證所稅</a>
								</li>
								<li>
									<a>達人操作</a>
								</li>
								<li>
									<a>期權與權證</a>
								</li>
								<li>
									<a>廖繼弘裝藍</a>
								</li>
								<li>
									<a>朱紀中專欄</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="footertopnav_title">
						<p>房地產</p>
						<div>
							<ul>
								<li>
									<a>房地產討論區</a>
								</li>
								<li>
									<a>房地產懶人包</a>
								</li>
								<li>
									<a>實價登錄</a>
								</li>
								<li>
									<a>買房帶路</a>
								</li>
								<li>
									<a>顏炳立專欄</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<ul>
					<li class="footertopnav_title">
						<p>保險稅務</p>
						<div >
							<ul>
								<li>
									<a>保險稅務討論區</a>
								</li>
								<li>
									<a>保險懶人包</a>
								</li>
								<li>
									<a>健保補充保費</a>
								</li>
								<li>
									<a>勞退基金</a>
								</li>
								<li>
									<a>勞保基金</a>
								</li>
								<li>
									<a>理財健診</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="footertopnav_title">
						<p>小工具</p>
						<div >
							<ul>
								<li>
									<a>台幣定存利率</a>
								</li>
								<li>
									<a>外幣定存利率</a>
								</li>
								<li>
									<a>國內基金優惠</a>
								</li>
								<li>
									<a>海外基金優惠</a>
								</li>
								<li>
									<a>投信促銷</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="footertopnav_title">
						<p>購物</p>
						<div>
							<ul>
								<li>
									<a>限時特購</a>
								</li>
								<li>
									<a>智富雜誌</a>
								</li>
								<li>
									<a>電子雜誌</a>
								</li>
								<li>
									<a>智富秘笈</a>
								</li>
								<li>
									<a>智富特刊</a>
								</li>
								<li>
									<a>智富叢書</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<!-- 桌面/平板的fat footer 右邊內容 -->
			<div class="span3 hidden-tablet-portrait fatright">
				<ul>
					<li>
						<div>
							<ul>
								<li><div class="fb_space_div"></div>
								</li>	
								<li>
									<a class="clickablockfont"><img src="./images/fb_r1_c1.png" /></a>
								</li>
								<br/>
								<li>
									<a class="clickablockfont"><img src="./images/fb_r3_c1.png" /></a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
  		</div>
  	</div>
</div> 
<!-- 桌面/平板的fat footer 結束 -->

<!-- 手機的fat footer 開始-->
<div class="accordion visible-phone navfooter mfooter" id="accordion2">
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading footer_class_l1">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
				課程活動  >>  投資類
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner navfooter-inner footer_class_l2">
				投資課程
			</div>
			<div class="accordion-inner navfooter-inner footer_class_l2">	
				盤後同學會
			</div>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading footer_class_l1">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				課程活動  >>  職場
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse footer_class_l2">
			<div class="accordion-inner navfooter-inner">
				超人俱樂部
			</div>
			<div class="accordion-inner navfooter-inner footer_class_l2">
				下班同學會
			</div>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading">
			<a class="accordion-toggle">
				討論區
			</a>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading footer_maga_l1">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
				雜誌
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner navfooter-inner footer_maga_l2">
				基金
			</div>
			<div class="accordion-inner navfooter-inner footer_maga_l2">
				股票
			</div>
			<div class="accordion-inner navfooter-inner footer_maga_l2">
				房地產
			</div>
			<div class="accordion-inner navfooter-inner footer_maga_l2">
				保險稅務
			</div>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading">
			<a class="accordion-toggle">
				叢書
			</a>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading">
			<a class="accordion-toggle">
				DVD
			</a>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading">
			<a class="accordion-toggle">
				小工具
			</a>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading">
			<a class="accordion-toggle">
				限時搶購
			</a>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading navfooter-fb">
			<a class="accordion-toggle" href="https://www.facebook.com/smartmonthly">
				<img src="./images/phonefb.png" class="fbicon"/>Smart致富月刊
			</a>
		</div>
	</div>
	<div class="accordion-group navfooter-group">
		<div class="accordion-heading navfooter-heading navfooter-fb">
			<a class="accordion-toggle" href="https://www.facebook.com/55vip">
				<img src="./images/phonefb.png" class="fbicon"/>盤後同學會
			</a>
		</div>
	</div>
</div>
<!-- 手機的fat footer 結束-->
<!-- footer開始 -->
<footer class="container">
	<p class="footerabout hidden-phone">
		<a href="#">關於商周集團</a> ｜<a href="#"> 廣告合作</a> ｜ <a href="#">隱私權聲明</a> ｜ <a href="#">文章授權</a> ｜ <a href="#">常見問題</a>｜ <a href="#">客服信箱</a> ｜ <a href="#">網站導覽</a> ｜ <a href="#">活動總覽</a> ｜<a href="#"> 新聞中心</a>
	</p>
	<div class="footercopyright">
		<p class="text-center">客戶服務/電話訂購專線：02-2510-8888　傳真：02-2502-5410　服務時間：週一至週五09:00~18:30 (例假日除外)</p>
		<p class="text-center">本網站版權屬於 城邦文化事業股份有限公司 所有，未經本站同意，請勿擅用文字及圖案。</p>
		<p class="text-center">Copyright © 1999 - 2013 Business Weekly a division of Cite Publishing Ltd All Rights Reserved.</p>
	</div>
</footer>
<!-- footer結束 -->
<!-- javascript 區塊 -->
<script type="text/javascript" src="./js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="./js/hammer.js"></script>
<script type="text/javascript" src="./js/jquery.specialevent.hammer.js"></script>
<script type="text/javascript" src="./js/bootstrap-carousel.js"></script>
<script type="text/javascript" src="./js/bootstrap-tab.js"></script>
<script type="text/javascript" src="./js/bootstrap-collapse.js"></script>
<script type="text/javascript" src="./js/smart-default.js"></script>
	<!-- javascript 結束 -->