<!--桌面/平版mega menu開始-->	
<div id="showaddiv1" class="showadframe">
	<div class="container hidden-phone showadframecontent menuframe">
		<div class="row-fluid">
			<!-- 同學會內容開始 -->
			<div class="span12 showheadercontent megamenu_aa megamenu">
				<ul>
					<li class="span4">
						<div class="span12 showheadertitle">同學會</div>
						<div class="media zonetitem1 span12">
							<a class="pull-left contentimg" href="#">
								<img class="media-object" src="./images/discussions/thumb_2.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext">
									<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
								</div>
							</a>
						</div>
					</li>
					<li class="span4">
						<div class="span12 showheadertitle">職場</div>
						<ol class="bullet_3">
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
						</ol>
					</li>
					<li class="span4">
						<div class="span12 showheadertitle2">前期精采內容</div>
					</li>
				</ul>
			</div>
			<!-- 同學會內容結束  -->
			<!-- 課程內容開始 -->
			<div class="span12 showheadercontent megamenu_class megamenu ">
				<ul>
					<li class="span4">
						<div class="span12 showheadertitle">同學會</div>
						<div class="media zonetitem1 span12">
							<a class="pull-left contentimg" href="#">
								<img class="media-object" src="./images/discussions/thumb_2.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext">
									<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
								</div>
							</a>
						</div>
					</li>
					<li class="span4">
						<div class="span12 showheadertitle">職場</div>
						<ol class="bullet_3">
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
						</ol>
					</li>
					<li class="span4">
						<div class="span12 showheadertitle2">前期精采內容</div>
					</li>
				</ul>
			</div>
			<!-- 課程內容結束  -->
			<!-- DVD內容開始 -->
			<div class="span12 showheadercontent megamenu_DVD megamenu ">
				<ul>
					<li class="span4">
						<div class="span12 showheadertitle">同學會</div>
						<div class="media zonetitem1 span12">
							<a class="pull-left contentimg" href="#">
								<img class="media-object" src="./images/discussions/thumb_2.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext">
									<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
								</div>
							</a>
						</div>
					</li>
					<li class="span4">
						<div class="span12 showheadertitle">職場</div>
						<ol class="bullet_3">
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
						</ol>
					</li>
					<li class="span4">
						<div class="span12 showheadertitle2">前期精采內容</div>
					</li>
				</ul>
			</div>
			<!-- DVD內容結束  -->
			<!-- 雜誌內容開始 -->
			<div class="span12 showheadercontent megamenu_magazine megamenu">
				<ul>
					<li class="span4">
						<div class="span12 showheadertitle">同學會</div>
						<div class="media zonetitem1 span12">
							<a class="pull-left contentimg" href="#">
								<img class="media-object" src="./images/discussions/thumb_2.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext">
									<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
								</div>
							</a>
						</div>
					</li>
					<li class="span4">
						<div class="span12 showheadertitle">職場</div>
						<ol class="bullet_3">
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
						</ol>
					</li>
					<li class="span4">
						<div class="span12 showheadertitle2">前期精采內容</div>
					</li>
				</ul>
			</div>
			<!-- 雜誌內容結束  -->
		</div>
	</div>
	<div class="text-center"><span class="label label-warning close_style">Close</span></div>
</div>
<!--桌面/平版mega menu結束-->