<!--桌面/平版mega menu開始-->	
<div id="showaddiv1" class="showadframe">
	<div class="container hidden-phone showadframecontent menuframe">
		<div class="row-fluid">
			<!-- 同學會內容開始 -->
			<div class="showheadercontent megamenu_aa megamenu">
				<ul class="marg-ul span12">
					<li class="span4 open_fr_hl">
						<div class="span12 showheadertitle">同學會</div>
						<div class="media zonetitem1 span12">
							<a class="pull-left contentimg" href="#">
								<img class="media-object" src="./images/discussions/thumb_2.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext">
									<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
								</div>
							</a>
						</div>
					</li>
					<li class="span4 open_fr_hl">
						<div class="span12 showheadertitle">職場</div>
						<ol class="bullet_3">
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
							<li>
								一次就懂》怪老子帶你看懂財報選好股
							</li>
						</ol>
					</li>
					<li class="span4 hidden-tablet-portrait">
						<div class="span12 showheadertitle2">前期精采內容</div>
						<ul class="span12">
							<li class="ct1class_title"><a href="#"> >  一次就懂怪老子帶你看懂財報選好股 </a></li>
							<li class="ct1class_title"><a href="#"> >  股市憲哥教你說對話有人緣又賺大錢</a></li>
							<li class="ct1class_title"><a href="#"> >  杜金龍教室 20堂投資必修課</a></li>
							<li class="ct1class_title"><a href="#"> >  杜金龍教室 20堂投資必修課</a></li>
						</ul>
					</li>
					<li class="span11">
						<a href="#" class="fr_bt"> 更多 >> </a>
					</li>
				</ul>
			</div>
			<!-- 同學會內容結束  -->
			<!-- 課程內容開始 -->
			<div class="showheadercontent megamenu_class megamenu ">
				<ul class="marg-ul span12">
					<li class="span4 open_fr_hl">
						<div class="span12 showheadertitle">投資理財</div>
						<div class="media zonetitem1 span12">
							<a class="pull-left contentimg" href="#">
								<img class="media-object" src="./images/discussions/thumb_2.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext">
									<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
								</div>
							</a>
						</div>
					</li>
					<li class="span4 open_fr_hl">
						<div class="span12 showheadertitle">職場</div>
						<div class="media zonetitem1 span12">
							<a class="pull-left contentimg" href="#">
								<img class="media-object" src="./images/discussions/thumb_2.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext">
									<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
								</div>
							</a>
						</div>
					</li>
					<li class="span4 hidden-tablet-portrait">
						<div class="span12 showheadertitle2 class_title_fr">前期精采內容</div>
						<ul>
							<li class="ct1class_title"><a href="#"> >  一次就懂怪老子帶你看懂財報選好股 </a></li>
							<li class="ct1class_title"><a href="#"> >  股市憲哥教你說對話有人緣又賺大錢</a></li>
							<li class="ct1class_title"><a href="#"> >  杜金龍教室 20堂投資必修課</a></li>
							<li class="ct1class_title"><a href="#"> >  杜金龍教室 20堂投資必修課</a></li>
						</ul>
					</li>
					<li class="span11">
						<a href="#" class="fr_bt">更多 >></a>
					</li>
				</ul>
			</div>
			<!-- 課程內容結束  -->
			<!-- DVD內容開始 -->
			<div class="showheadercontent megamenu_DVD megamenu ">
				<ul class="span12 marg-ul"> 
					<li class="span8">
						<div>精選 DVD</div>
						<div class="media zonetitem1 span12">
							<a class="pull-left contentimg" href="#">
								<img class="media-object" src="./images/discussions/thumb_3.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext dvd_title2_fr">
									<h4 class="Btitle media-heading">台股趨勢實戰班DVD</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
									<div class="media zonetitem1 span12 dvd_title2_sfr">
										<a class="pull-left contentimg" href="#">
											<img class="media-object" src="./images/discussions/hms_t.jpg">
										</a>
										<a class="contenttext" href="#">
											<div class="media-body contenttext">
												<h4 class="media-heading">講師：愛榭克（izaax）</h4>
												<p>又號愛錢客，為Smart智富月刊專欄作家</p>
											</div>
										</a>
									</div>

								</div>
							</a>
						</div>
					</li>
					<li class="span4">
						<div class="dvdtitle2">
							<ul>
								<a href="#">
								<li class="s_dvdtitle"><h4>台股趨勢實戰班DVD</h4></li>
								<li>想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？....</li>
								</a>
							</ul>
							<ul>
								<a href="#">
								<li class="s_dvdtitle"><h4>台股趨勢實戰班DVD</h4></li>
								<li>想投資，千線萬線不如一條內線？經濟指標像天書，有看沒有懂？....</li>
								</a>
							</ul>
						</div>
					</li>
					<li class="span11 more_fr">
						<a href="#" class="fr_bt ">更多 >></a>
					</li>
				</ul>
			</div>
			<!-- DVD內容結束  -->
			<!-- 雜誌內容開始 -->
			<div class="showheadercontent megamenu_magazine megamenu">
				<ul class="span12 marg-ul">
					<li class="span8 open_fe">
						<ul>
							<li class="top4nav_title">
								<p>基金</p>
								<div>
									<ul>
										<li>
											<a>基金債券討論區</a>
										</li>
										<li>
											<a>基金懶人包</a>
										</li>
										<li>
											<a>排行榜</a>
										</li>
										<li>
											<a>晨星評鑑</a>
										</li>
										<li>
											<a>愛謝克觀點</a>
										</li>
										<li>
											<a>黃媺芸觀點</a>
										</li>
										<li>
											<a>蕭碧燕專欄</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="top4nav_title">
								<p>股票</p>
								<div>
									<ul>
										<li>
											<a>股票投資討論區</a>
										</li>
										<li>
											<a>股票懶人包</a>
										</li>
										<li>
											<a>證所稅</a>
										</li>
										<li>
											<a>達人操作</a>
										</li>
										<li>
											<a>期權與權證</a>
										</li>
										<li>
											<a>廖繼弘裝藍</a>
										</li>
										<li>
											<a>朱紀中專欄</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="top4nav_title">
								<p>房地產</p>
								<div>
									<ul>
										<li>
											<a>房地產討論區</a>
										</li>
										<li>
											<a>房地產懶人包</a>
										</li>
										<li>
											<a>實價登錄</a>
										</li>
										<li>
											<a>買房帶路</a>
										</li>
										<li>
											<a>顏炳立專欄</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="top4nav_title">
								<p>保險稅務</p>
								<div>
									<ul>
										<li>
											<a>保險稅務討論區</a>
										</li>
										<li>
											<a>保險懶人包</a>
										</li>
										<li>
											<a>健保補充保費</a>
										</li>
										<li>
											<a>勞退基金</a>
										</li>
										<li>
											<a>勞保基金</a>
										</li>
										<li>
											<a>理財健診</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
					<li class="span4 hidden-tablet-portrait">
						<div class="span11">最新出刊 > <a href="#">Smart智富月刊171期目錄</a></div>
						<div class="media zonetitem1 span11">
							<a class="pull-left contentimg" href="#">
								<img src="./images/discussions/thumb_3.jpg">
							</a>
							<a class="contenttext" href="#">
								<div class="media-body contenttext">
									<h4 class="Btitle media-heading">台股趨勢實戰班DVD</h4>
									<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
								</div>
							</a>
						</div>
					</li>
					<li class="span11">
						<a href="#" class="fr_bt ">更多前期雜誌 >></a>
					</li>
					<br/>
					<li class="span11">
						<a href="#" class="fr_bt ">訂閱雜誌 >></a>
					</li>
				</ul>
			</div>
			<!-- 雜誌內容結束  -->
		</div>
	</div>
	<div class="text-center"><span class="label label-warning close_style">Close</span></div>
</div>
<!--桌面/平版mega menu結束-->