<!DOCTYPE html>
<html>
  <head>
    <title>Smart</title>
    <link rel='stylesheet' href='/css/smart_RWD.css' />
    <link rel='stylesheet' href='/css/smart.css' />
  </head>
  <body>
  	<div class="container">
  		123







  	</div>
  </body>
</html>