<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<!--<span class="category"><a href="#">Smart</a> &gt; <a href="#">雜誌</a> &gt; <a href="#">基金趨勢</a></span>-->
			<div class="span2">
			</div>
			<div class="span8">
				
			</div>
			<div class="span2">
			</div>
		</div>
		<div class="container">
			<div class="row-fluid">
				<div class="span2">
				</div>
				<div class="span8 ">
					<div class="span12">
					會員登入 還不是SMART會員嗎？立即 加入會員
					</div>
					<div class="span12 blockframe">
						<div class="span4">
							登入facebook
						</div>
						<div class="span8">
							<ul>
								<li>
									帳號：<input type="text" placeholder="輸入E-mail...">
								</li>
								<li>
									密碼：<input type="text" placeholder="輸入密碼">
								</li>
								<li>
									<span> <input type="checkbox">記住我</span>
									<span><a href="#">忘記密碼</a></span>
								</li>
								<li> 
									<div class="btn">登入</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="span2">
				</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>