<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='./css/animate.css' />
		<link rel='stylesheet' href='./css/smart.css' />
		<link rel='stylesheet' href='./css/smart_RWD.css' />
		<link rel='stylesheet' href='./css/smart_tml.css' />
		<link rel='stylesheet' href='./css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<div class="container">
			<div class="row-fluid">
				<div class="span2">
				</div>
				<div class="span8 ">
					<div class="span12">
					會員登入 還不是SMART會員嗎？立即 加入會員
					</div>
					<div class="span12 blockframe phone-login">
						<div class="span4 phone-login-logo">
							<img src="/images/btm_facebook.gif" class="btn_fb text-center"/>
						</div>
						<div class="span1 login_line">
						</div>
						<div class="span7 login_normal_frame">
							<ul class="login_normal_content">
								<li>
									帳號：<input type="text" placeholder="輸入E-mail...">
								</li>
								<li>
									密碼：<input type="text" placeholder="輸入密碼">
								</li>
								<li>
									<span class="rm_me"><input type="checkbox">記住我</span>
									<span><a href="#" class="forget_ps">忘記密碼</a></span>
								</li>
								<li> 
									<div class="btn lg-btn">登入</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="span2">
				</div>
			</div>
		</div>
		<% include small_footer %>
	</body>
</html>