<!DOCTYPE html>
<html>
	<head>
		<title>Smart自學網</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel='stylesheet' href='/css/animate.css' />
		<link rel='stylesheet' href='/css/smart.css' />
		<link rel='stylesheet' href='/css/smart_RWD.css' />
		<link rel='stylesheet' href='/css/smart_tml.css' />
		<link rel='stylesheet' href='/css/smart_design.css' />		
	</head> 
	<body>
		<% include header %>
		<!-- 分類標題 -->
		<div class="container">
			<div class="row-fluid">
				<div class="span12 dailymain_title">
					Smart > 限時特購 > 本檔特色商品 > 美式復古電話機
				</div>
			</div>
		</div>
		<!-- 分類標題 結束-->
		<div class="container">
			<div class="row-fluid dailymain">
				<div class="span5">
					<img class="first_img" src="images/today_sales/product_image.jpg">
				</div>
				<div class="span7">
					<ul>
						<li class="ref_top_title">
							<h3>美式復古電話機
						</li>
						<li class="ref_top_title">
							<h4>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......復古</h4>
						</li>
						<li class="ref_top_frame">
							<ul class="row-fluid">
								<li class="span5 ref_top_content">
									<div class="span12 ref_price_frame">
									<ul>
										<li class="span4">
											定價
										</li>
										<li class="span8 redfont">
											<b>3000</b>元
										</li>
									</ul>
									</div>
									<div class="span12 ref_price_frame">
									<ul>
										<li class="span4">
											優惠價
										</li>
										<li class="span8 nonesredfonttyle">
											<b>79折</b>&nbsp&nbsp&nbsp&nbsp<b>2370</b>元
										</li>
									</ul>
									</div>
									<div class="span12 ref_price_frame">
									<ul>
										<li class="span4">
											我要買
										</li>
										<li class="span8">
											<select class="span10">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>件
										</li>
									</ul>
									</div>
									<div class="span12 ref_price_frame">
									<ul>
										<li class="span4">
											規格
										</li>
										<li class="span8">
											<select class="span12">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</li>
									</ul>
									</div>
								</li>
								<li class="span1">
								</li>
								<li class="span6">
									<div class="btn btn-large add-cart">加入購物車</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
  		<div class="row-fluid">
	  		<div class="span12 maincon">
		  		<div class="row-fluid show-grid">
					<!-- 左方主內容開始-->
			  		<div class="span9 mainleft">
			  			<div class="row-fluid">
			  				<div class="span12">
			  					特色商品內文，文加圖形式，預想是使用HTML自由編輯。746為一款典型的英式復古電話，並是60年代英國電話款式的指標。在1967年由郵政總局推出，並成為往後20年來的經典款。為了紀念這個偉大的英國指標，而再度生產746復刻電話，其仍保持亮眼的色系和經典大膽的曲線。現今它保留老電話的撥盤，但採用直接按鈕撥號更有符合時代的便利性。 
			  					<img class="in_block_banner" src="images/today_sales/banner_demo.jpg">
			  					<div class="span12 ref_price_buttom_frame">
								<ul class="row-fluid">
								<li class="span5 ref_top_content">
									<div class="span12 ref_price_frame">
									<ul>
										<li class="span4">
											定價
										</li>
										<li class="span8 redfont">
											<b>3000</b>元
										</li>
									</ul>
									</div>
									<div class="span12 ref_price_frame">
									<ul>
										<li class="span4">
											優惠價
										</li>
										<li class="span8 nonesredfonttyle">
											<b>79折</b>&nbsp&nbsp&nbsp&nbsp<b>2370</b>元
										</li>
									</ul>
									</div>
									<div class="span12 ref_price_frame">
									<ul>
										<li class="span4">
											我要買
										</li>
										<li class="span8">
											<select class="span10">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>件
										</li>
									</ul>
									</div>
									<div class="span12 ref_price_frame">
									<ul>
										<li class="span4">
											規格
										</li>
										<li class="span8">
											<select class="span12">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</li>
									</ul>
									</div>
								</li>
								<li class="span1">
								</li>
								<li class="span6">
									<div class="btn btn-large add-cart">加入購物車</div>
								</li>
								</ul>
							</div>
						
			  				</div>
				  			<div class="span12 blockframe">
				  				<div class="row-fluid">
				  					<ul>
				  						<li class="span12">
				  							購物及商品退換貨說明
				  						</li>
				  						<li class="span12">
				  							提醒您：若因個人因素退票，需酌收手續費20%，活動開辦前三個工作日起恕不接受退票。
				  						</li>
				  						<li class="span12">
				  							詢問與聯絡
				  						</li>
				  						<li class="span12">
				  							• 使用您提供之資料。使用對象除本刊外，亦可能包括相關協力廠商。如您有依個資法或其他需服務之處，請多利用 客服信箱，或致電本公司客服中心，電話：（02）2510-8888請求協助。
				  						</li>
				  						<li class="span12">
				  							更多說明
				  						</li>
				  						<li class="span12">
				  							• 本活動入場門票皆採電子郵件方式通知入場，於活動開辦前三個工作日起(含)寄出。
											• 為提供更完善的品質，主辦單位將保留活動調整權利。若因天候及其他不可抗力因素有改期或變動場地之必要，主辦單位將於第一時間公告周知。
											• 為提供訂購、行銷、客戶管理或其他合於營業登記項目之目的，《Smart智富》於本刊之營運期間及地區內，將以mail、傳真、電話、簡訊、郵寄或其他公告方式
				  						</li>
				  					</ul>
				  				</div>

				  			</div>
				  			<div class="span12 blockframe">
								<div class="row-fluid title_1" >
									<div class="span12">
										<h3>其他推薦</h3>
									</div>
								</div>
								<!-- 精選推薦第一區內容 -->
								<div class="czone1 row-fluid">
									<ul>
										<li>
											<div class="media zonetitem1 span6">
												<a class="pull-left contentimg" href="#">
													<img class="media-object" src="./images/discussions/thumb_2.jpg">
												</a>
												<a class="contenttext" href="#">
													<div class="media-body contenttext">
														<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
														<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
														<span class="label label-warning btnDF">投資理財</span>
													</div>
												</a>
											</div>
										</li>
										<li>
											<div class="media zonetitem1 span6">
												<a class="pull-left contentimg" href="#">
													<img class="media-object" src="./images/discussions/thumb_2.jpg">
												</a>
												<a class="contenttext" href="#">
													<div class="media-body contenttext">
														<h4 class="Btitle media-heading">郭榮芳 - 財報選股實</h4>
														<p>四小時學會掌握企業財報與經營本質，一看就懂的企業獲利模式分析法，2013財......</p>
														<span class="label label-warning btnDF">投資理財</span>
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
				  			</div>
				  		</div>
			  		</div>
			  		<% include smart_sidebar %>
			  	</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>