<!-- footer開始 -->
<footer class="container">
	<p class="footerabout hidden-phone">
		<a href="#">關於商周集團</a> ｜<a href="#"> 廣告合作</a> ｜ <a href="#">隱私權聲明</a> ｜ <a href="#">文章授權</a> ｜ <a href="#">常見問題</a>｜ <a href="#">客服信箱</a> ｜ <a href="#">網站導覽</a> ｜ <a href="#">活動總覽</a> ｜<a href="#"> 新聞中心</a>
	</p>
	<div class="footercopyright">
		<p class="text-center">客戶服務/電話訂購專線：02-2510-8888　傳真：02-2502-5410　服務時間：週一至週五09:00~18:30 (例假日除外)</p>
		<p class="text-center">本網站版權屬於 城邦文化事業股份有限公司 所有，未經本站同意，請勿擅用文字及圖案。</p>
		<p class="text-center">Copyright © 1999 - 2013 Business Weekly a division of Cite Publishing Ltd All Rights Reserved.</p>
	</div>
</footer>
</div>
<!-- footer結束 -->
<!-- javascript 區塊 -->
<script type="text/javascript" src="./js/jquery-1.8.0.min.js"></script>
<!--<script type="text/javascript" src="./js/hammer.js"></script>
<script type="text/javascript" src="./js/jquery.specialevent.hammer.js"></script>-->
<script type="text/javascript" src="./js/jquery.hammer.js"></script>
<script type="text/javascript" src="./js/bootstrap-carousel.js"></script>
<script type="text/javascript" src="./js/bootstrap-tab.js"></script>
<script type="text/javascript" src="./js/bootstrap-collapse.js"></script>
<script type="text/javascript" src="./js/smart-default.js"></script>
<!-- javascript 結束 -->