<header class="hidden-phone bigheader">
	<div class="container headercontent">
		<div class="row-fluid">
			<div class="span12 small_logoBar">
				<div class="row-fluid">
					<div class="span2 smlogobk">
						<img src="/images/logos.jpg" />
					</div>
					<div id="mainNAV" class="span7">
	                    <ul>
	                        <li><a href="">同學會</a></li><li class="divide"></li>
	                        <li><a href="">課程</a></li><li class="divide"></li>
	                        <li><a href="">DVD</a></li><li class="divide"></li>
	                        <li><a href="">雜誌</a></li><li class="divide"></li>
	                        <li><a href="">叢書</a></li><li class="divide"></li>
	                        <li><a href="">討論區</a></li><li class="divide"></li>
	                        <li><a href="">限時特購</a></li>
	                    </ul>
            		</div>
					<div class="span3">
						<ul class="memberNAV small_loginheader">
							<li id="cart" class="cart"><a href="#" >(3)</a></li>
		                    <li><a href="#" class="ordercheck">訂單查詢</a></li>
		                    <li><a href="#" class="login">登入</a> </li>
		                    <li><a href="#" class="signup">註冊</a></li>
						</ul>
					</div>	
				</div>
			</div>	
		</div>
	</div>
	<div class="header_line small_line"></div>
</header>