/*   img size  */
.img-60{
	width: 60px
}
.img-80{
	width: 80px
}
.img-110{
	width: 110px;
	background: #ddd;
}
.img-130{
	width: 130px;
	background: #ddd;
}
.img-220{
	width: 220px
}
/*  frame  */
.blockframe{
	border: solid 1px #cccccc;
	/*border: 1px solid #aaa;*/
	padding: 0px 10px 10px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}
.spiltframe{
  width: 100%;
  height: 10px;
}
.contentframe{
	display: inline;
	height: 140px;
	margin-top: 10px;
}
.contentframe > div{
	float: left;
}
.contentframe > img{
	float: left;
}
/*  content size */
.content-220{
	width: 220;
	height: 140px;
}
.general_nav{
	width: 100%;
}
.general_nav > li{
	width: 14.28%;
	text-align:center;
}




/*Title*/
.title_1>div>h3{
	background: url(../images/section_bg.jpg) no-repeat left;
	color: white;
	line-height: 1.5;
	padding-left: 10px;
	font-size: 18px;
	clear: both;
}
.title_2>div>h3{
	background: url(../images/sector_header.jpg) left no-repeat #f2f2f2;
	font-size: 18px;
	padding-left: 20px;
	line-height: 1.7;
	height: 30px;
	margin-bottom: 20px;
}
.title_3>div>h3{
	background: url(../images/block_header_bg.jpg) left no-repeat #ffffff;
	font-size: 18px;
	padding-left: 25px;
	line-height: 1.7;
	height: 35px;
	margin-bottom: 10px;
	margin-left: 5px;
}
/* header */
.header_line{
	background: bottom url(../images/menu_border.jpg) repeat-x;
	height: 3px;
}