@charset "utf-8";
/* CSS Document */

div,p h1,h2,h3,h4,h5,h6,th,tr,td,button{
	font-family: "微軟正黑體";
}
.cart{

}
.me {

	display: none;
}
.logo {
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
}

.key {
	display: block;
	float: right;
	width: 220px;
	height: 20px;
	font-size: 12px;
	color: #B2B2B2;

}
.key a {
	color: #B2B2B2;
	
}
.searchBK {
	height: 51px;
}
.searchBAR {
	float: right;
}
.searchBTN {
	float: right;
	clear: both;

}
 


.memberNAV li,.memberNAV li a{
	float: right;
	color: #FF8B00;
	font-size: 12px;

	
}
.bestBK {
	height: 183px;
	float: left;
	
}
.picDF {
	float: left;

	
}
.btnDF {
	height: 12px;
	width: 72px;
	background-color: #F7931E;
	border-radius: 4px;

	font-size: 12px;
	line-height: 12px;
	color: #fff;
	text-align: center;
}
.Btitle{
	display: block;
	height: 29px;
	color: #FF8C00;
	font-size: 16px;

}
.BBK{
	display: block;
	height: 85px;
	font-size: 14px;
	width:202px;

}
.buyPIC {
	background-color: #060;
}

.buyBK {
	display: block;
	float: right;
}

.btnBUY{
	display: block;
	float: right;
	height: 33px;
	width: 152px;
	line-height: 33px;
	text-align: center;
	border-radius: 10px;
	border: #808080 solid 1px;

	background: #ffffff;

}
.picDF2 {
	float: left;

	
}
.Ptitle{
	color: #FF8C00;
	font-size: 16px;

}

.ATCtitle {
	background-image: url(../images/header_in_secodary.jpg);
	background-repeat: no-repeat;
	background-position: 5px 3px;
	display: block;
	height: 30px;
	width: 190px;
	border-bottom: #FF8C00 1px dotted;
	font-size: 18px;
	color: #FF8C00;
	padding: 0 0 8px 25px;

}
.article {
	display: block;
	height: 86px;
	width: 214px;

	
}
.article img {
	float: left;

}
.article p {
	width: 124px;
	font-size: 14px;
	float: right;

	min-height: 63px;
	display: block;
}
.ATCtitle2 {
	background-image: url(../images/header_in_secodary.jpg);
	background-repeat: no-repeat;
	background-position: 5px 3px;
	display: block;
	height: 30px;
	width: 190px;
	border-bottom: #FF8C00 1px dotted;
	font-size: 18px;
	color: #FF8C00;
	padding: 0 0 8px 25px;

}


.hotACT {
	font-size: 14px;
	color: #191919;
	width: 215px;
	padding-top: 10px;

	border-bottom: solid 1px #cccccc;
	clear: both;
	padding-bottom: 10px;
}
.ATCtitle3 {
	background-image: url(../images/header_in_secodary.jpg);
	background-repeat: no-repeat;
	background-position: 5px 3px;
	display: block;
	height: 30px;
	width: 190px;
	border-bottom: #FF8C00 1px dotted;
	font-size: 16px;
	color: #FF8C00;
	padding: 0 0 8px 25px;

}
.footerabout.hidden-phone {
;
}

.footerabout.hidden-phone a {
	font-size: 12px;
	color: #7F7F7F;
}



.myCart {
	font-size: 24px;
	width: 100px;

	padding-left: 10px;
	padding-top: 20px;
}
.row-fluid .span12.cartcontentnav .span2 {

}


.blockframe.aboutCart {
	border-top:0;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.span12.havebonus {

	font-size: 20px;
}
.span12.havebonus span {
	font-size: 26px;
	color: #C0262C;

}




.talk {
	float: left;

	
}

.talk p{
	border: solid 1px #FF8B00;
	border-radius: 8px;
	padding: 2px;
}
.whatYOUbuy {
	font-weight: bold;
	color: #FF8C00;
	font-size: 16px;

}

.itemNAV {

	border-bottom: #f1f1f1 1px dotted;
	color: #666666;
}
.itemNAV p {
	text-align: center;
}
.itemNAV .span7 p span {
	color: #C0262C;
}


.cartBK {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FF8B00;

}

.itemKIND {
	color: #4C4C4C;
}
.itemNAME {
	
	color: #333333;
}
.itemFORMAT {
	height: 19px;
	width: 125px;
	text-align: center;
}


.discount {
	color: #C0262C;
}
.price {
	color: #C0262C;
	text-decoration: line-through;
	font-weight: bold;
}
.delete {

}
.checkbox.inline.span12.USEcoupon {

	font-size: 12px;
	color: #FF8C00;

	
}

.for2 {
	font-size: 14px;
	color: #FF0000;

}
.row-fluid.title_2 .span12 .radio {

}

.NT {
	float: right;
	color: #333333;
	font-size: 16px;
	font-family: "Myriad Pro", "微軟正黑體";
}

.charge {
	font-family: "Myriad Pro";
	font-size: 16px;
	color: #C0262C;
}
.fare {
	color: #FF8C00;
	font-size: 12px;
}
.btnBK ul{


	clear: both;
}
.btnBK {

}


.TOshop {
	border-radius: 10px;
	border: #808080 solid 1px;
	color: #4C4C4C;
}
.TOpay {
	border-radius: 10px;
	border: #808080 solid 1px;
	color: #FF4D02;
	text-shadow: none;
}
.textbox {

	width: 70px;
}
.bonusRULE{
	font-size: 14px;
	color: #FF8C00;	
}
.bonusRULE:hover{
	font-size: 14px;
	color: #FF8C00;
	text-decoration: underline;
}
.LACKbonus {
	font-size: 12px;
	color: #FF4D02;

}
.buyer dt {
	width: 90px;

}
.buyer dd {

}
.buyerTXT {
	width: 150px;
}
.dl-horizontal.buyer dd .place {
	width: 164px;
}
.dl-horizontal.buyer.line {
	width: 960px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;

	padding-bottom: 20px;
}

.dl-horizontal.buyer dd .radio {

}
.dl-horizontal.buyer dd .short {
	width: 30px;
}
.dl-horizontal.buyer .invoice {


}
.invoice input {

}
.dl-horizontal.CHECKinfo dt {
	width: 92px;

}
.dl-horizontal.CHECKinfo dd {

}
.SPBKbtn {

	text-shadow: none;
}
.timeproblem {
	font-size: 12px;
	color: #C0262C;
}
